Pair Programming Pandas VI

El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:
1. Â¿CuÃ¡ntos ataques hubo por paÃ­s? Devuelve un DataFrame.
ðŸ“Œ NOTA Ordena los resultados de mayor a menor. Esto todavÃ­a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values().  tenÃ©is una explicaciÃ³n de cÃ³mo hacerlo.

In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv("attacks_modificado_3.csv", index_col=0)
df.head(3)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,03-Jun-2018
2,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,Lower left leg bitten,26-May-2018

In [15]:
df.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo', 'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [34]:
df_pais = df.groupby(['country'])['case_number'].count().sort_values(ascending= False)
df_pais

country
USA             741
AUSTRALIA       343
SOUTH AFRICA    234
BAHAMAS          29
NEW ZEALAND      21
               ...
PHILIPPINES       1
RED SEA?          1
EL SALVADOR       1
ROATAN            1
LIBYA             1
Name: case_number, Length: 95, dtype: int64

In [35]:
# otro metodo
df['country'].value_counts()

USA                   741
AUSTRALIA             343
SOUTH AFRICA          234
BAHAMAS                29
NEW ZEALAND            21
                     ...
GREENLAND               1
ST. MAARTIN             1
UNITED KINGDOM          1
SWEDEN                  1
CEYLON (SRI LANKA)      1
Name: country, Length: 95, dtype: int64

In [37]:
# creamos el DataFrame para visualizar el resultado
df_pais = pd.DataFrame(df_pais)
df_pais

              case_number
country
USA                   741
AUSTRALIA             343
SOUTH AFRICA          234
BAHAMAS                29
NEW ZEALAND            21
...                   ...
PHILIPPINES             1
RED SEA?                1
EL SALVADOR             1
ROATAN                  1
LIBYA                   1

[95 rows x 1 columns]

2. Â¿CuÃ¡ntos ataques ha habido por aÃ±o? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [53]:
df_aÃ±o = df.groupby('year')['case_number'].count().sort_values(ascending= False)
df_aÃ±o

year
0.0       125
2015.0     68
2007.0     57
2012.0     54
2002.0     53
         ...
1784.0      1
1783.0      1
1787.0      1
1779.0      1
1780.0      1
Name: case_number, Length: 147, dtype: int64

In [45]:
df['year'].value_counts()

0.0       125
2015.0     68
2007.0     57
2012.0     54
2002.0     53
         ...
1785.0      1
1783.0      1
1780.0      1
1779.0      1
1784.0      1
Name: year, Length: 147, dtype: int64

In [54]:
df_aÃ±o = pd.DataFrame(df_aÃ±o)
df_aÃ±o.head()

        case_number
year
0.0             125
2015.0           68
2007.0           57
2012.0           54
2002.0           53

3. Â¿CuÃ¡ntos ataques hubo por aÃ±o y sexo? Devolved un DataFrame solo del aÃ±o 2000 en adelante.

In [65]:
df_aÃ±o_sexo = df[df['year']>2000].groupby(['year', 'sex_'])['case_number'].count()
df_aÃ±o_sexo

year    sex_
2001.0  F        3
        M       26
2002.0  F        6
        M       47
2003.0  F        6
        M       38
2004.0  F        4
        M       35
        lli      1
2005.0  F        7
        M       38
2006.0  F        8
        M       32
2007.0  F       19
        M       38
2008.0  F        5
        M       35
2009.0  F        5
        M       37
2010.0  F       12
        M       25
2011.0  F        5
        M       31
2012.0  F        9
        M       45
2013.0  F        5
        M       43
2014.0  F        7
        M       28
2015.0  F       12
        M       56
2016.0  F        7
        M       30
2017.0  F        9
        M       21
2018.0  F        2
        M       15
Name: case_number, dtype: int64

In [66]:
df_aÃ±o_sexo = pd.DataFrame(df_aÃ±o_sexo)
df_aÃ±o_sexo.head()

             case_number
year   sex_
2001.0 F               3
       M              26
2002.0 F               6
       M              47
2003.0 F               6

In [70]:
# para verificar la respuesta
df[df['year']== 2001].count()

unnamed:_0     29
case_number    29
year           29
type           29
country        29
area           29
location       29
activity       29
name           29
sex_           29
age            29
time           29
species_       29
href           29
siglo           0
fatal_(y/n)    29
injury         29
date           29
dtype: int64

4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. Â¿CuÃ¡ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [ ]:
df_ataques

5. Usando el DataFrame creado en el ejercicio anterior. Â¿En quÃ© paÃ­s hubo mÃ¡s ataques?

6. Â¿QuÃ© y cuÃ¡ntos tipos de ataques hubo por paÃ­s?