In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # importando matplotlib
import seaborn as sns
from scipy import stats # importando scipy.stats

In [3]:
df = pd.read_csv('ds_salaries.csv', index_col = 0)
df.head(3)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M

1. Extraer los siguentes estadísiticos del conjunto de datos para varias de las varibles disponibles:
Utilizando métodos de pandas: media, mediana, moda, máximo y mínimo
Percentiles 25, 75,
Rango Intercualtílico,
Boxplot de algunas variables,
Tabla de frecuencias,
Variables cualitativas,
Variables cuantitativas,
Frecuencia acumulada,
Representación de al menos una tabla de frecuencias

2. Interpretación de los resultados.
Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.