In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats # importando scipy.stats

1. Buscar un conjunto de datos a analizar:
Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [8]:
df = pd.read_csv('ds_salaries.csv', index_col = 0)
df.head(3)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 56.9+ KB

Enlace a la leyenda del Dataset

https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries?resource=download

2. Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
Media,
Desviación con respecto de la media, 
Varianza,
Desviación típica,
Moda,
Mediana,
Media ponderada,
Robustez,
Coeficiente de variación

In [17]:
# calculamos la media de varias columnas
media_salary= df['salary'].mean()
media_salary

324000.0626029654

In [22]:
media_year = df['work_year'].mean()
media_year

2021.4052718286655

In [16]:
# calculamos la desviacion con respeto de la media de las mismas columnas
salary= df['salary']
desviacion_media= np.abs(salary -media_salary )
desviacion_media

0      254000.062603
1       64000.062603
2      239000.062603
3      304000.062603
4      174000.062603
           ...
602    170000.062603
603    198000.062603
604    195000.062603
605    174000.062603
606    124000.062603
Name: salary, Length: 607, dtype: float64

In [21]:
work_year = df['work_year']
desviacion_media_year = np.abs(work_year - media_year)
desviacion_media_year

0      1.405272
1      1.405272
2      1.405272
3      1.405272
4      1.405272
         ...
602    0.594728
603    0.594728
604    0.594728
605    0.594728
606    0.594728
Name: work_year, Length: 607, dtype: float64

In [24]:
# calculamos la varianza
var_salary = np.var(salary)
var_salary

2381110820751.388

In [25]:
var_year = np.var(work_year)
var_year

0.47825886350621105

In [26]:
# calculamos la desviacion tipica
std_salary = np.std(salary)
std_salary

1543084.8391295238

In [28]:
std_year = np.std(work_year)
std_year

0.6915626244283384

In [33]:
#calculamos la mooda
moda, frecuencia = stats.mode(salary)
print('la moda es :', moda)
print('la frecuencia es :', frecuencia)

la moda es : [80000]
la frecuencia es : [18]

In [34]:
moda, frecuencia = stats.mode(work_year)
print('la moda es :', moda)
print('la frecuencia es :', frecuencia)

la moda es : [2022]
la frecuencia es : [318]

In [37]:
#calculamos la mediana
print('la mediana del salario es: ', np.median(salary))
print('la mediana del año es: ', np.median(work_year))

la mediana del salario es:  115000.0
la mediana del año es:  2022.0

In [38]:
# calculamos la media penderada sin pesos. En este caso el resultado es igual que la media
print('la media ponderada del salario es: ', np.average(salary))
print('la media ponderada del año es: ', np.average(work_year))

la media ponderada del salario es:  324000.0626029654
la media ponderada del año es:  2021.4052718286655

In [ ]:
#robustez

In [ ]:
#calculamos el coeficiente de variacion

3. Interpretación de los resultados.
Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.