1. ¿Qué diferencia hay entre una Serie y un DataFrame?

In [31]:
import pandas as pd
import numpy as np
import random

In [32]:
# ambas son estructuras de datos de la librería pandas

In [33]:
serie = pd.Series([1,3,5,7,9])
serie

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [34]:
df = pd.DataFrame([2,4,6,8,10])
df

    0
0   2
1   4
2   6
3   8
4  10

In [35]:
# Las Series son unidimensionales, mientras que los Dataframes son bidimensionales

In [36]:
a2 = np.array([[1,2],[3,4]])

In [37]:
# intentamos hacer una serie con un array de dos dimensiones...
serie1 = pd.Series(a2)

ValueError: Data must be 1-dimensional

In [38]:
df1 = pd.DataFrame(a2)
df1

   0  1
0  1  2
1  3  4

2. Momento de trabajar con Series. Contestad a las siguientes preguntas:
* Crea dos listas:
    * Una que se llame "valores" que tenga 7 números aleatorios.
    * Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [ ]:
# por esto es el import random

In [ ]:
valores = random.sample(range(1,20), 7)

In [ ]:
indices = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

* A partir de estas dos listas cread una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

In [ ]:
serie2 = pd.Series(valores, indices)
serie2

Mon     3
Tue     8
Wed    14
Thu    18
Fri    12
Sat    10
Sun     4
dtype: int64

* A partir de las dos listas anteriores cread un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método

In [ ]:
dicc = dict(zip(indices, valores))
dicc

{'Mon': 3, 'Tue': 8, 'Wed': 14, 'Thu': 18, 'Fri': 12, 'Sat': 10, 'Sun': 4}

In [ ]:
# con el bucle for:
diccionario = {}
for i, v in zip(indices, valores):
    diccionario[i]=v

diccionario

{'Mon': 3, 'Tue': 8, 'Wed': 14, 'Thu': 18, 'Fri': 12, 'Sat': 10, 'Sun': 4}

* Crea una Serie con el diccionario creado en el punto anterior.

In [ ]:
serie_dicc = pd.Series(dicc)
serie_dicc

Mon     3
Tue     8
Wed    14
Thu    18
Fri    12
Sat    10
Sun     4
dtype: int64

* ¿Qué forma tiene esta última Serie?

In [ ]:
serie_dicc.shape

(7,)

* ¿Qué tipo de datos tiene?

In [ ]:
serie_dicc.dtypes

dtype('int64')

* ¿Qué tamaño tiene?

In [ ]:
serie_dicc.size

7

* ¿Cuáles son los índices de la Serie?

In [ ]:
serie_dicc.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object')

* ¿Y los values?

In [ ]:
serie_dicc.values

array([ 3,  8, 14, 18, 12, 10,  4])

In [ ]:
# la lista aleatoria la ha convertido a un array! :)

* Extraed el valor para el índice "lunes"

In [ ]:
serie_dicc['Mon']

3

* Extraed el valor para el índice "lunes", "martes" y "miércoles".

In [ ]:
serie_dicc[['Mon', 'Tue', 'Wed']] # usamos multiindex

Mon     3
Tue     8
Wed    14
dtype: int64

In [ ]:
#probando con los índices numéricos
serie_dicc[[0,1,2]]

Mon     3
Tue     8
Wed    14
dtype: int64

In [ ]:
#probando con slices(start:stop:step)
serie_dicc[0:3]

Mon     3
Tue     8
Wed    14
dtype: int64

In [ ]:
serie_dicc['Mon':'Thu'] # con las etiquetas de los indices el slice sí te incluye el indice donde pones el stop!

Mon     3
Tue     8
Wed    14
Thu    18
dtype: int64

In [ ]:
serie_dicc['Mon':'Thu':2] # te acepta poner step tambien con los slices por etiquetas

Mon    1
Wed    7
dtype: int64

* Extraed el valor para el índice "lunes" y "domingo".

In [ ]:
# el primer y el último índice
serie_dicc[[0, -1]]

Mon     1
Sun    13
dtype: int64

In [ ]:
serie_dicc[0::6] # con el 6 en el step

Mon     1
Sun    13
dtype: int64

In [ ]:
serie_dicc[0:6] #pruebas... con el 6 en el stop

Mon     1
Tue    14
Wed     7
Thu    18
Fri    17
Sat     6
dtype: int64

In [ ]:
serie_dicc[['Mon', 'Sun']]

Mon     1
Sun    13
dtype: int64

In [ ]:
# hay mas formas?

3. Es el turno de los DataFrames
* Cread un array de dos dimensiones con 4 filas y 3 columnas.

In [41]:
arr2 = np.random.rand(4,3)
arr2

array([[0.38753672, 0.94952075, 0.60507027],
       [0.12403277, 0.03330784, 0.99293625],
       [0.72447504, 0.36355529, 0.84370017],
       [0.7347439 , 0.95450563, 0.77371108]])

* Convertid el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [48]:
df2 = pd.DataFrame(arr2, columns=['España', 'Francia', 'Italia'])
df2

     España   Francia    Italia
0  0.387537  0.949521  0.605070
1  0.124033  0.033308  0.992936
2  0.724475  0.363555  0.843700
3  0.734744  0.954506  0.773711

* Descargad el archivo "medallas" y cargad el DataFrame con la siguiente línea de código:

In [45]:
df3 = pd.read_csv("medallas.csv", index_col=["País"])
df3

                 Unnamed: 0   Oro  Plata  Bronce
País
China                     1  1473    994     720
Japón                     2  1032   1037     985
Corea del Sur             3   745    663     827
Irán                      4   179    181     197
Kazajistán                5   155    158     224
India                     6   154    202     315
Tailandia                 7   132    175     278
Indonesia                 8   112    131     240
China Taipéi              9    99    144     276
Corea del Norte          10    91    120     235

* Usando el loc extraed todas las columnas de la fila.

* Usando el loc extraed todas las columnas de China e Irán.

* Usando el loc extraed solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

* Usando el iloc extraed la información de la India. Devolved todas las columnas.

* Usando el iloc extraed todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

* Utilizando el código del ejercicio anterior, seleccionad unicamente las columnas "Oro", "Plata" y "Bronce".

* Contestad a las siguientes preguntas:
    * ¿Qué país consiguió más de 200 medallas de oro?

* ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

* ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

* Como vemos hay una columna que se llama Unnamed: 0 que no nos interesa. Eliminad esa columna.

* Cread una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.