1. Cargad el csv que guardasteis ayer.

In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv('attacks_modificado.csv')
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [103]:
df.shape

(6114, 14)

Antes de seguir con las preguntas, este DataFrame está terriblemente sucio. En las próximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.
Para ello vamos a utilizar el método .dropna() de pandas. Tendréis que ejecutar la siguiente línea de código para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [104]:
# Preferimos ejecutarlo y guardarlo en una variable nueva, para poder comparar luego los dos dataframes. Quitamos el inplace = True

df_new = df.dropna()
df_new.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [105]:
df_new.isnull().sum()

case_number    0
unnamed:_0     0
year           0
type           0
country        0
area           0
location       0
activity       0
name           0
sex_           0
age            0
time           0
species_       0
href           0
dtype: int64

¿Cuántas filas se han eliminado con esta línea de código?

In [106]:
filas_antes, _ = df.shape

In [107]:
filas_despues, _ = df_new.shape

In [108]:
filas_eliminadas = filas_antes - filas_despues
filas_eliminadas

4612

2. ¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [109]:
usa = df_new[df_new['country'] == 'USA']

In [110]:
# Numero de ataques en USA:

usa.shape[0]

719

3. ¿Y en España?

In [111]:
spain = df_new[df_new['country'] == 'SPAIN']

In [112]:
spain

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,378,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,1011,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, Gáldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,2476,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [113]:
# Numero de ataques en SPAIN:

spain.shape[0]

5

* 3.1 ¿En qué regiones se han producido los ataques?

In [114]:
spain['area']

98                Castellón
233       Alicante Province
377                Alicante
1007    Grand Canary Island
2469           Costa Blanca
Name: area, dtype: object

* 3.2 ¿Cuántos ataques se han producido en cada área?

In [115]:
# Lo mostramos filtrando

print('Castellón -->', df_new[df_new['area'] == 'Castellón'].shape[0])
print('Alicante Province -->', df_new[df_new['area'] == 'Alicante Province'].shape[0])
print('Alicante -->', df_new[df_new['area'] == 'Alicante'].shape[0])
print('Grand Canary Island -->', df_new[df_new['area'] == 'Grand Canary Island'].shape[0])
print('Costa Blanca -->', df_new[df_new['area'] == 'Costa Blanca'].shape[0])

Castellón --> 1
Alicante Province --> 1
Alicante --> 1
Grand Canary Island --> 1
Costa Blanca --> 1

In [116]:
# O con la funcion value_counts()

spain['area'].value_counts()

Castellón              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [117]:
# Con dos condiciones de filtrado

aus_usa = df_new[(df_new['country'] == 'AUSTRALIA') | (df_new['country'] == 'USA')]
aus_usa.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [118]:
aus_usa.shape

(1043, 14)

In [119]:
# Con el metodo .isin()

aus_usa2 = df_new[df_new['country'].isin(['AUSTRALIA','USA'])]
aus_usa2.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [120]:
aus_usa2.shape

(1043, 14)

* 4.1 ¿Cuántos ataques se han producido en cada país?

In [121]:
# En USA

usa = aus_usa[aus_usa['country'] == 'USA']
usa.shape[0]

719

In [122]:
# En Australia

aus = aus_usa[aus_usa['country'] == 'AUSTRALIA']
aus.shape[0]

324

* 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [123]:
# Comprobamos cómo puede estar escrito

aus['activity'].value_counts()

Surfing                                              87
Swimming                                             40
Spearfishing                                         22
Fishing                                              13
Snorkeling                                           10
                                                     ..
Abalone diving using Hookah (near calving whales)     1
Playing / standing                                    1
Dived naked into the water on a bet                   1
Swimming breast stoke                                 1
Bathing in knee-deep water                            1
Name: activity, Length: 108, dtype: int64

In [124]:
# Filtramos para obtener el resultado preciso, no hay

aus[aus['activity'] == 'Paddling'].value_counts()

Series([], dtype: int64)

* 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

In [125]:
aus[aus['year'] <= 2000].shape[0]

157

* 4.4 ¿Y después del 2000?

In [126]:
aus[aus['year'] >= 2000].shape[0]

173

5. Extraed unicamente los ataques a mujeres.

In [127]:
df_new[df_new['sex_'] == 'F'].head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
53,2017.12.31,53,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
71,2017.10.22,71,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
75,2017.10.05,75,2017.0,Unprovoked,USA,Hawaii,"Kamaole Beach Park, Maui",Snorkeling,female,F,40,12h30,8' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

6. ¿Cuántas mujeres fueron atacadas en España?

In [128]:
df_new[(df_new['sex_'] == 'F') & (df_new['country'] == 'SPAIN')].shape[0]

1

7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

In [129]:
years = df_new[df_new['year'].isin([200,1007,2006])]
years.head(1)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
1407,2006.12.18,1412,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...

8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.

In [130]:
df_new['species_'].unique()

array(['White shark', 'Tiger shark', "Bull shark, 6'", 'Grey reef shark',
       'Invalid incident', '3 m shark', 'White shark, 2.5 m',
       "Tiger shark, 12'", 'Wobbegong shark', '3.5 m shark',
       '1.8 m shark', 'Juvenile white shark,  2.7 to 3.2 m',
       'Bull shark, 2 m', 'small shark', 'White shark, 4.6 m',
       '2 m shark', 'Wobbegong shark, 1 m', 'White shark, 4.5 m',
       'Tiger shark, 8 to 10 feet', "8' shark", 'Questionable',
       "5' to 6' shark", 'White shark, 3 to 3.5m ', 'White shark, 3 m',
       'Shark involvement questionable', "White shark, 5' to 7'",
       'Possibly a juvenile blacktip shark', "4' shark", 'A small shark',
       "White shark, 11' to 13'", "White shark, 8' to 10'",
       "Bull shark, 4' to 5'", 'White shark, 4 m',
       'Shark involvement highly doubtful', "Bull shark, 5' to 7'",
       'Bull shark, 4 m', 'Bull shark, 1 m',
       'Shark involvement not confirmed', 'Wobbegong shark, 2m',
       'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark",
       'White shark, 3.5 m', "3' to 4' shark", "Tiger shark, 10'",
       "Tiger shark, 10' ", 'Blue shark', 'reef shark, 1m',
       "White shark, 10' to 12'", 'dogfish shark', 'Tawny nurse shark',
       "3' to 5' shark", "3' shark",
       "Said to involve an 8' shark but more likely damage caused by debris",
       '3+ m shark', 'Mako shark', "5' shark", "Blacktip shark, 4'",
       "Nurse shark, 2'", "Mako shark, 1.5 m [5'] ",
       'Grey reef shark, 2 m', 'Tiger shark, 2.5 m', "Tiger shark, 14'",
       'Blacktip shark', "9' shark", "Bronze whaler shark, 6'",
       'Galapagos shark', 'Bull shark, 2.8 to 3.1 m', "Spinner shark, 5'",
       'No shark involvement', "Tiger shark, 7'", "Tiger shark, 13' ",
       "4' to 5' shark", "Blacktip shark, 4' to 5'",
       "Blacktip shark, 5' to 6'", 'juvenile shark', "Tiger shark, 13'",
       "6' shark", "White shark, 11' to 12'", 'Hammerhead shark.',
       "White shark, 10' to 12' ", "White shark, 13'",
       "Hammerhead shark. 6' to 7'", "Blacktip or spinner shark, 4'",
       "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
       'White shark, 3.9 to 4.2 m', "White shark, 7'", "6' to 7' shark",
       'Bull shark', 'White shark, 2m to 3 m', 'Sandtiger shark',
       "Bull shark, 5'", 'Bull shark, 2.5 m', '1m to 1.2 m shark',
       '3- to 4-foot shark', 'White shark, 6 m',
       'Tiger shark, 8 to 12 feet', 'Tiger shark, 3.5 m',
       '3.5 to 4 m shark', '2 m to  3 m shark', 'Bull shark, 1.3 m',
       'White shark or oceanic whitetip shark',
       'Raggedtooth shark, 1.3 m', 'White shark, 4 to 5 m', '1.5 m shark',
       "2' shark", '1 m shark', "8' to 10' shark",
       '2 white shark: 13\' & 9"8"', "7' shark",
       "White shark, 12' to 14'", 'Spinner shark', " Bull shark, 5'",
       "4' tp 5' shark", "6' to 8' shark", " Sandbar shark, 3' to 4'",
       'Bronze whaler shark, 1.5m', " white shark, 15' ",
       '3 m to 4 m white shark',
       'Shark involvement prior to death not confirmed',
       'Blacktip reef shark ', '7-gill shark?',
       'Reported to involve a bull shark', 'White shark, 3m ',
       "Tiger shark, 10' to 12'", "4' to 6' shark",
       ' Wobbegong shark, 1.6 to 1.8m ', 'Tiger shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       'Blacktip reef shark, 1m', 'Thought to involve a bull shark',
       "Whitetip reef shark, 4' to 6'", 'Nurse shark?', 'Tiger shark?',
       "Bull shark, 8'", "Bull shark, 6' to 8'",
       "Tiger shark, 8' to 10' ", 'Nurse shark', 'a small shark',
       'Grey nurse shark, 3m', 'Possibly a blacktip reef shark',
       'Raggedtooth shark, 1.5 m', 'Tiger shark, 4.8 m',
       'Bronze whaler shark, 2.5m', 'White shark, 4m', 'Lemon shark',
       "Tiger shark, 15'", '2.5 m shark', 'Bull shark, 2m ',
       "Tiger shark, 6'", "10' shark", "2' to 3' shark",
       "Tiger shark, 8'", "Tiger shark, 10' to 12' ",
       "White shark, 15' to 16' ", '2m shark', "3.5' to 4' shark",
       "Lemon shark, 4' to 5' ", 'White shark or bronze whaler',
       'White shark, 5m', "14' to 18'shark", "15' shark",
       'possibly a bull shark', 'a small reef shark',
       'small blacktip shark?', 'Blacktip shark ', 'Blue shark, 2.5m',
       'White shark, 2 m', '18" to 24" shark', 'Bull shark, 3m',
       'White shark, 4 m to 5m ', "Tiger shark, 10'  ",
       'White shark, 4m ', 'Possibly a bull shark',
       "Possibly a 5' to 6' bull shark", 'Tawny nurse shark, 40cm',
       'Tiger shark, 3m', 'White shark, 2.7 m',
       'Allegedly a 4 m tiger shark', 'White shark, 2.5m',
       'Wobbegong shark?', "White shark, 10'", 'Port Jackson shark, 1m',
       'Tiger shark, 2m', "6' shark, possibly a blactip or spinner shark",
       "White shark, >6'", "Possibly a 5' to 6' sandtiger shark",
       '4 m shark', 'Grey reef shark ', 'White shark, 3m to 4m',
       'Bull shark, 3m female', 'Zambesi shark', ' Tiger shark, 2.8m',
       'reef shark, 1.5m', "1' to 2' shark",
       'possibly a bronze whaler shark', 'Bull shark, 2.5m',
       '3 m to 4 m shark', 'Bull shark, 2m', 'White shark x 2',
       'Caribbean reef shark', 'Oceanic whitetip shark, 2.5m ',
       'Mako shark ', 'Oceanic whitetip shark, 2.5m, female',
       "Porbeagle shark, 8' ", "White shark, 14' to 18' ",
       'Bull shark, 1.4m ', 'Possibly a small blacktip shark',
       "Sandtiger shark, 4' to 5'", 'Angel shark', "Blue shark, 7'",
       "Lemon shark, 4'", '20 to 30kg shark', "Lemon shark, 6'",
       "14' shark", "Oceanic whitetip shark, 6'", 'Wobbegong shark, 1.6m',
       'Invalid', 'Zambesi shark, 2m ', "Sandtiger shark, 8'",
       'Thresher shark', 'Spurdog', "White shark, 5' to 6' juvenile ",
       'Bull shark?', "Nurse shark, 6'",
       'Thought to involve a Bronze whale shark, 2m',
       'Shark involvement probable, but not confirmed',
       'Oceanic whitetip shark, 2.5 to 3m', '80 kg shark',
       'blacktip or spinner shark', 'Bronze whaler shark?',
       'Thought to involve a cookie cutter shark', 'Blue shark, 1m',
       '2.6 m shark', 'White shark, 2.5m ', 'Bull shark, 2.7 m ',
       "White shark, 12' ", 'Dusky shark, 2m', 'White shark, 3.5m',
       'Broadnose sevengill shark', 'White shark, 4m to 5m ',
       '4 to 5m white shark', 'Raggedtooth shark, 2m', '5 m white shark',
       "+3' shark", 'Bronze whaler shark',
       "8' bull shark or Caribbean reef shark",
       "8' white shark or 7-gill shark", 'White shark, 2m',
       "4.5 to 5' shark", "White shark, 15'", '2 small bull sharks',
       'Bull shark, 1.8m', "White shark, 12' to 15'",
       'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
       'Shark involvement not confirmed; thought to be a barracuda bite',
       "1.5' to 2' shark", "2.5' shark",
       'A bull shark, according to some of the divers on the boat',
       'Mako shark, 90kg', 'Not a shark attack; it was a hoax',
       '1.5 to 2 m shark', "Blacktip shark, 5'",
       'Oceanic whitetip sharks were in the vicinity', "9.5' shark?",
       "Nurse shark, 2' to 3' ", 'Possibly a spinner shark',
       "White shark, 12'", "Possibly a 6' bull shark", ' ',
       "Possibly a 10' bull shark", 'Bronze whaler shark, 1.5 m ',
       "Bull shark, 5' ",
       'A 10-year-old 94-pound pregnant blacktip reef shark',
       'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
       'Shark involvement prior to death was not confirmed',
       "Tiger shark, 14' ", '"a small shark"', '2 to 2.5 m shark',
       'White shark, 3m', '24" to 30" shark',
       "6' to 8' shark, possibly a tiger shark", '2.5 to 3 m shark',
       '2 to 3 m shark', "White shark, 12' to 15' ",
       'Raggedtooth shark, 150-kg', 'White shark, 5m ',
       '2 m to 3 m shark', "White shark, 16' ", "3' to 3.5' shark",
       'White shark?', 'Angel shark, 1.2m ',
       "5' to 6' spinner or bull shark",
       "Possibly a 1' to 3' blacktip or spinner shark", "14' white shark",
       "Tiger shark, 8' to 12'", "Grey reef shark, 5' to 8' ",
       'Wobbegong shark, 2 m ', "Bull shark, 4' to bull shark",
       'Bronze whaler shark, a  juvenile ',
       'Raggedtooth shark, 2.5 m to 3 m ', "Tiger shark, 5' ",
       'Bronze whaler shark, 2 m', "5' to 7' shark", 'Raggedtooth shark',
       "12' to 18' shark", '3.5 m white shark', 'Whitetip reef shark',
       'Raggedtooth shark, 2.5m ', "12' to 14' white shark",
       "18' white shark", "Tiger shark, less than 10'",
       'Caribbean reef sharks', "14' to 16' white shark",
       "4 m [13'] white shark", 'juvenile white shark',
       'Possibly a sandbar shark or small blacktip shark',
       "1.8 m [6'] shark", "[4.5' to 5'] shark", "[4' to 5']",
       "1.8 m [6'] bull shark",
       'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
       'Unknown, but it was reported that a shark tooth was recovered from the wound',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
       '"small shark"', "Tiger shark, 3 m [10']", "4 m [13'] shark",
       "6 m [20'] white shark", "Sandtiger shark, 2.1 m [7'] ",
       '4.5 m & 5 m white shark ', "5.5 m [18'] white shark",
       "2.5 m [8.25'] bull shark", "2 m [6.75'] white shark",
       "Bronze whaler shark, 2.4 m [8'] ",
       "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
       "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
       'Thought to involve a 2.5 m bull or tiger shark',
       "2.4 m [8'] shark", 'Tiger shark, 1.5 m ',
       "4.9 m to 5.5 m [16' to 18'] white shark", "1.2 m [4'] shark",
       "1.2 m to 1.5 m [4' to 5'] shark", '2 sharks, 4.5 m & 3 m ',
       '9\'2" white shark', "Bronze whaler shark, 2.5 m [8.25'] ",
       "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3.7 m [8' to 12'] shark",
       "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
       "Mako shark, 1.8 m [6']", "5 m [16.5'] white shark",
       "1.2 m [4'] bull shark", 'bull shark',
       "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
       "2 m [6.75'] sevengill  shark",
       "4 m to 5 m [13' to 16.5'] white shark",
       'Bull shark, 132-kg [291-lb] ', "Tiger shark, 4 m [13']  ?",
       "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
       '1.2 m [4\'] "grey-colored shark"', 'Shark involvement doubtful',
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", 'Unidentified species',
       "2.1 m  [7'] bull shark", "106 cm [3.5']  shark",
       '\x93small brown shark\x94', "3.7 m to 4.3 m [12' to 14'] shark",
       '"sand shark"',
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "0.9 m to 1.2 m [3' to 4'] shark", 'A \x93small\x94 shark',
       '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
       "Mako shark, 3 m [10']", "2.5 m [8.25'] white shark",
       'Species unidentified',
       "Thought to involve a 2 m [6.75'] grey nurse shark",
       "Thought to involve a >2 m [6.75'] bull shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       "2.4 m to 3 m [8' to 10'] grey colored shark",
       "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
       'Possibly a bull shark or tiger shark',
       'Blacktip or spinner shark', "3.5' to 4.5' shark",
       "1.2 m [4'] blacktip shark", "1.8 m [6'] blacktip shark",
       "Tiger shark, 1.5 m [5']k", "3 m to 3.7 m [10' to 12'] shark",
       'Bull or tiger shark', "1' to 2' hammerhead or bonnethed shark",
       "0.9 m  to 1.2 m [3' to 4'] shark", "Nurse shark, 1.5 m [5'] ",
       "1.2 m [4'] blacktip or sandbar shark",
       "Bull shark, 1.8 m to 2.1 m [6' to 7'] ", 'Mako shark, 400-lb ',
       "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
       "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
       '\xa0 ', "1.5 to 2.5 m [5' to 8.25'] copper shark",
       "3.7 m to 4.3 m [12' to 14'] white shark", '1 m  shark',
       "3' blacktip shark", "White shark, 6m [20']",
       'Bull shark, 400-lb ', "3'  shark", "0.9 m [3'] shark",
       'Nurse shark, 1m ', "Spinner shark, 3' to 4' ",
       '1.5 m [5\'] "whaler shark"',
       'C. leucas tooth fragment recovered from kayak', 'Zambesi shark?',
       'Unidentified', "Tiger shark, 1.8 m [6'] ",
       "Tiger shark, 1.8 m [6']",
       'Questionable incident - shark bite may have precipitated drowning',
       "2' to 3.5' shark",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "1.5 m [5'] shark", "3 m [10'] bull shark",
       'Possibly  a blacktip or spinner shark',
       "3' shark, possibly  a blacktip or spinner shark",
       "Blacktip shark, 5' to 6' ", "1.9 m [6.5'] bull shark",
       "0.9 m  [3'] shark", "Bull shark, 2.3 m [7.5'] ",
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       'Possibly a juvenile blacktip or spinner shark',
       "Possibly a 1.5 m [5'] blacktip or spinner shark",
       "White shark, 2.7 m [9'] ",
       "Bronze whaler shark, 2.5 m [8.25']  k", "6 m [20'] shark",
       "1.2 m to 1.8 m [4' to 6'] shark", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
       "2.1 to 2.4 m [7' to 8'] shark", "Blacktip shark, 2' ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "60 cm to 90 cm [2' to 3'] shark",
       "White shark, 3.5 m [11.5']  male ", "Tiger shark, 3 m [10'] ",
       "A 2' shark was seen in the area by witnesses",
       "Thought to involve a 2.7 m [9'], 400-lb bull shark",
       'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
       "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
       "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
       "Nurse shark, 1.2 m [4'] ",
       "0.9 m [3'] shark,  probably a blacktip or spinner shark",
       "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
       "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
       '1.3 to 1.6 m shark',
       "2.7 m [9']  bull shark or Caribbean reef shark",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "Bull shark, 2.1 m [7']", "Blacktip shark, 1.8 m [6'] ",
       "White shark, 4 m [13'] ", "Tiger shark, 2.5 m [8.25']",
       'Grey reef shark, 1.5 m ', '3 bull sharks',
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'Bronze whaler or tiger shark', "White shark, 4.6 m [15'] ",
       'Possibly a white shark', 'A "small shark"',
       'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark",
       "Lemon shark, 1.5 m [5'], identified  by the surfer",
       "1.8 m [6'] shark, possibly a blacktip", "3 m [10'] shark",
       "3 m [10'] white shark", "5' spinner shark",
       'Small dusky shark or blackfin shark',
       "Tiger shark, 4 m to 4.3 m [13' to 14'] ",
       'Possibly a blacktip shark', '"juvenile shark"',
       '4.5 m white shark', "Tiger shark, 2.7m  [9']",
       "1.2 m [4'] shark (spinner shark?)", 'Possibly a sand shark',
       'Tiger shark, 2m to 3m ', "1.8 m to 2.1 m [6' to 7'] shark",
       'Tiger shark, 4.5 m [14\'9"]',
       "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark", '"a young shark"',
       "Tiger shark, 2.4 m [8'] ",
       "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
       "2.5 m [8.25'] white shark ",
       "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
       '"reef shark"', 'Possibly a tiger shark',
       'Tiger shark, 300-kg [662-lb] ',
       "1.2 m to 1.5 m [4' to 5']   shark",
       "1.5 to 1.8 m [5' to 6'] shark", '"sand" shark',
       "Tiger shark, 3.7 m [12'] ", 'Bronze whaler shark, 2 m ',
       "5 m to 5.5 m [16.5' to 18'] white shark", "2.7 m [9'] shark",
       'Thought to involve a small sand shark', 'Small shark',
       "3 to 3.5 m [10' to 11.5'] bull shark", "1.2 m [4'] spinner shark",
       ">1.8 m [6'] shark", '1.3 m [4\'3"] shark',
       'Tiger shark caught 6 days later with diver\x92s remains in its gut',
       ">6 m [20'] white shark",
       "1.8 m [6'] blacktip shark or Caribbean reef shark",
       "5.5 m to 6 m [18' to 20']  white shark",
       "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
       'Thought to involve a tiger shark',
       "Remains recovered from 5.5 m [18'] white shark",
       "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
       "Tiger shark, 2.4 m [8']",
       "Tiger shark, 3 m to 4.9 m [10' to 16'] ",
       "Mako shark, 1.8 m [6']  ", "6' to 7' blacktip shark",
       '5 m to 6 m white shark', 'Unidentified shark',
       "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
       "Tiger shark, 4.3 m [14'] ", '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       'Bull shark or lemon shark', '>2 m shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       'Questionable incident', "Bronze whaler shark, 2.3 m [7.5'] ",
       "Zambesi shark, 1.7 m [5.5'] ",
       "Possibly a 1.5 m [5'] blacktip shark",
       "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
       "5 m to 6 m [16.5' to 20'] white shark",
       "3 m [10'], 270- kg [595-lb] shark", 'sand shark',
       "Tiger shark, 3 to 4 m [10' to 13'] ",
       "2.7 m [9'] bull or lemon shark", "Tiger shark, >3 m [10']",
       "1.8 m [6'] shark ", "4' spinner shark",
       "1.8 m to 2.4 m [6' to 8'] shark", "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       'Tiger shark, 3 m ', "2.7 m [9'] white shark",
       'Shark involvement suspected but not confirmed',
       'White shark, identified by tooth pattern', '150-lb shark',
       "4 m to 5 m [13' to 16.5']  white shark", 'Grey nurse shark',
       ">3.4 m [11'] white shark", "Bronze whaler shark, 3 m [10'] ",
       "Tiger shark, 4 m [13'] ", "2.4 m to 3 m [8' to 10'] white shark",
       'Sand shark?', "1.5 m to 2 m [5' to 6.75'] shark",
       '1 m "grey-colored" shark',
       'Zambezi shark (tooth fragments recovered)', '1.5 m copper shark',
       "2 m [6.75'] shark", "3.5 m [11.5']  white shark",
       '5.7 m white shark', '4.3 m shark', ">2.5 m [8.25'] white shark",
       "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark",
       "Lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered",
       '1.6 m shark', "1.2 m [4'] dusky shark", '>1 m shark',
       ">2.4 m [8'] white shark", "Raggedtooth shark, 2 m [6.75'] ",
       'Bronze whaler shark, 3.5 m ',
       "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
       'Possibly a small hammerhead shark',
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       "1.5 m [5'] dusky shark", 'Tiger shark, 4 m ',
       'Shark involvement not confirmed; officials considered barracua',
       'Hammerhead shark?+O2356', '4.5 m to 5 m white shark',
       "2.4 m [8'] white shark",
       "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
       " 1.5 m [5'] dusky shark", 'Raggedtooth shark, 1 m ',
       'Raggedtooth shark, >1 m ', 'Sand shark', "6' to 8' bull shark",
       "Tiger shark, 5 m [16.5']", "3.5' hammerhead shark",
       "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
       "1.8 m [6'] Zambezi shark",
       'Believed to involve a 2.8 m [9\'3"] white shark',

In [131]:
white_shark = df_new[df_new['species_'].str.contains('white', regex= True, case = False)]
white_shark['species_'].unique()

array(['White shark', 'White shark, 2.5 m',
       'Juvenile white shark,  2.7 to 3.2 m', 'White shark, 4.6 m',
       'White shark, 4.5 m', 'White shark, 3 to 3.5m ',
       'White shark, 3 m', "White shark, 5' to 7'",
       "White shark, 11' to 13'", "White shark, 8' to 10'",
       'White shark, 4 m', 'White shark, 3.5 m',
       "White shark, 10' to 12'", "White shark, 11' to 12'",
       "White shark, 10' to 12' ", "White shark, 13'",
       'White shark, 3.9 to 4.2 m', "White shark, 7'",
       'White shark, 2m to 3 m', 'White shark, 6 m',
       'White shark or oceanic whitetip shark', 'White shark, 4 to 5 m',
       '2 white shark: 13\' & 9"8"', "White shark, 12' to 14'",
       " white shark, 15' ", '3 m to 4 m white shark', 'White shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       "Whitetip reef shark, 4' to 6'", 'White shark, 4m',
       "White shark, 15' to 16' ", 'White shark or bronze whaler',
       'White shark, 5m', 'White shark, 2 m', 'White shark, 4 m to 5m ',
       'White shark, 4m ', 'White shark, 2.7 m', 'White shark, 2.5m',
       "White shark, 10'", "White shark, >6'", 'White shark, 3m to 4m',
       'White shark x 2', 'Oceanic whitetip shark, 2.5m ',
       'Oceanic whitetip shark, 2.5m, female', "White shark, 14' to 18' ",
       "Oceanic whitetip shark, 6'", "White shark, 5' to 6' juvenile ",
       'Oceanic whitetip shark, 2.5 to 3m', 'White shark, 2.5m ',
       "White shark, 12' ", 'White shark, 3.5m', 'White shark, 4m to 5m ',
       '4 to 5m white shark', '5 m white shark',
       "8' white shark or 7-gill shark", 'White shark, 2m',
       "White shark, 15'", "White shark, 12' to 15'",
       'Oceanic whitetip sharks were in the vicinity', "White shark, 12'",
       'White shark, 3m', "White shark, 12' to 15' ", 'White shark, 5m ',
       "White shark, 16' ", 'White shark?', "14' white shark",
       '3.5 m white shark', 'Whitetip reef shark',
       "12' to 14' white shark", "18' white shark",
       "14' to 16' white shark", "4 m [13'] white shark",
       'juvenile white shark',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
       "6 m [20'] white shark", '4.5 m & 5 m white shark ',
       "5.5 m [18'] white shark", "2 m [6.75'] white shark",
       "4.9 m to 5.5 m [16' to 18'] white shark", '9\'2" white shark',
       "5 m [16.5'] white shark", "4 m to 5 m [13' to 16.5'] white shark",
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", "2.5 m [8.25'] white shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       "3.7 m to 4.3 m [12' to 14'] white shark", "White shark, 6m [20']",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       "White shark, 2.7 m [9'] ", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "White shark, 3.5 m [11.5']  male ",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "White shark, 4 m [13'] ", "White shark, 4.6 m [15'] ",
       'Possibly a white shark', 'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark", "3 m [10'] white shark",
       '4.5 m white shark', "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark",
       "2.5 m [8.25'] white shark ",
       "5 m to 5.5 m [16.5' to 18'] white shark",
       ">6 m [20'] white shark", "5.5 m to 6 m [18' to 20']  white shark",
       "Remains recovered from 5.5 m [18'] white shark",
       '5 m to 6 m white shark', '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       "5 m to 6 m [16.5' to 20'] white shark",
       "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       "2.7 m [9'] white shark",
       'White shark, identified by tooth pattern',
       "4 m to 5 m [13' to 16.5']  white shark",
       ">3.4 m [11'] white shark", "2.4 m to 3 m [8' to 10'] white shark",
       "3.5 m [11.5']  white shark", '5.7 m white shark',
       ">2.5 m [8.25'] white shark", ">2.4 m [8'] white shark",
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       '4.5 m to 5 m white shark', "2.4 m [8'] white shark",
       'Believed to involve a 2.8 m [9\'3"] white shark',
       "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
       "4.5 m to 5.5 m [14.7' to 18'] white shark",
       "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
       "7 m [23'] white shark", '6 m  white shark',
       "1.8 m [6'] white shark", '2.8 m [9\'3"] white shark',
       "White shark, 2.5 m [8.25']  ",
       "White shark, 2.3 m [7.5'], tooth fragment recovered",
       "White shark, 3.7 m [12'] ",
       "White shark, 5.5 m to 6 m [18' to 20']  ",
       "White shark, 5.5 m [18'] ", "White shark, 3 m [10'] k",
       "White shark, 3 m to 4 m [10' to 13'] ",
       "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
       'White shark, 4.5 m ', "White shark, 2.4 m [8']",
       "White shark, 5.8 m [19'] ", 'White shark, 5m to 6m',
       "White shark, 3 m [10'] ",
       "White shark, 5.5 m to 6 m [18' to 20'] ",
       'White shark, 4 m to 5 m ',
       "White shark, 5 m to 6 m [16.5 to 20'] ",
       "White shark, 5 m [16.5']",
       "White shark, 4.4 m to 5 m [14.5' to 16.5'] ",
       "White shark, 2.5 m [8.25'] ", "White shark, 3 m [10']rk",
       "White shark, 5 m to 6 m [16.5' to 20']  ",
       "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
       'White shark according to tooth pattern and witnesses',
       "White shark, 4.3 m 4.9 m [14' to 16'] ",
       'White shark, identified by tooth fragments in surfboard',
       "White shark, 4.3 m [14'], (tooth fragment recovered)",
       "White shark, 2.5 m [8.25'], an immature female, previously injured",
       "White shark, 2.4 m [8'] ", "White shark, 1.5 m [5'] k",
       "White shark, 3 m to 3.7 m [10' to 12'] ",
       'White shark (tooth fragment recovered)', 'White shark, 3 m ',
       "White shark, 2.1 m [7'] ",
       "White shark, 4.3 m [14'] (or bronze whaler)",
       "White shark, 4.3 m to 4.9m [14' to 16']",
       'White shark, based on bite pattern',
       "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
       "White shark, 2.1 m [7']  based on tooth pattern",
       "White shark, 5 m [16.5'], identified by Dr. W. I. Follett on tooth marks",
       "Reported to involve a White shark, 6 m to 7m [20' to 23'] ",
       "White shark, 3 m [10']; identifed by Dr. W.I. Follett on tooth marks",
       "White shark, 1.8 m to 2.1 m [6' to 7']  according to Shreuder and a witness",
       "White shark, 5 m to 6 m [16.5' to 20] ",
       '3.6 m  white shark  (or bronze whaler)',
       'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett',
       "White shark,4.6 m [15'] ", "White shark, 1.8 m [6'] ",
       'White shark, 3m, seen in area and hooked 3 days later',
       "White shark, 3.7 m [12']  according to witnesses",
       'White shark, 3.6 m [11\'9"] ', 'White shark, 4.2 m [13\'9"] ',
       'White shark, according to witnesses',
       'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)',
       'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses',
       'White shark, species identity confirmed by tooth pattern',
       'White shark, 160-kg [353-lb], identity confirmed by tooth pattern',
       'White shark (identified by Dr. Hugh Smith) ',
       "White shark, 3.5 m to 4 m [11.5' to 13'] ",
       "White shark 4.9 m [16'] ",
       'White shark, 4.5 m [14\'9"], identity confirmed by witness & tooth pattern',
       "White shark, 4.4 m [14.5'] . ",
       "Said to involve 6 to 7 m [20' to 23'] white shark",
       "1.5 m [5'] white shark or sevengill shark",
       "White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark ",
       "Thought to involve a 2.6 m [8.5'] white shark"], dtype=object)

9. Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

In [132]:
white_tiger_shark = df_new[(df_new['species_'].str.contains('white', regex= True, case = False)) | 
                           (df_new['species_'].str.contains('tiger', regex= True, case = False))]

white_tiger_shark['species_'].unique()

array(['White shark', 'Tiger shark', 'White shark, 2.5 m',
       "Tiger shark, 12'", 'Juvenile white shark,  2.7 to 3.2 m',
       'White shark, 4.6 m', 'White shark, 4.5 m',
       'Tiger shark, 8 to 10 feet', 'White shark, 3 to 3.5m ',
       'White shark, 3 m', "White shark, 5' to 7'",
       "White shark, 11' to 13'", "White shark, 8' to 10'",
       'White shark, 4 m', 'White shark, 3.5 m', "Tiger shark, 10'",
       "Tiger shark, 10' ", "White shark, 10' to 12'",
       'Tiger shark, 2.5 m', "Tiger shark, 14'", "Tiger shark, 7'",
       "Tiger shark, 13' ", "Tiger shark, 13'", "White shark, 11' to 12'",
       "White shark, 10' to 12' ", "White shark, 13'",
       'White shark, 3.9 to 4.2 m', "White shark, 7'",
       'White shark, 2m to 3 m', 'Sandtiger shark', 'White shark, 6 m',
       'Tiger shark, 8 to 12 feet', 'Tiger shark, 3.5 m',
       'White shark or oceanic whitetip shark', 'White shark, 4 to 5 m',
       '2 white shark: 13\' & 9"8"', "White shark, 12' to 14'",
       " white shark, 15' ", '3 m to 4 m white shark', 'White shark, 3m ',
       "Tiger shark, 10' to 12'", 'Tiger shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       "Whitetip reef shark, 4' to 6'", 'Tiger shark?',
       "Tiger shark, 8' to 10' ", 'Tiger shark, 4.8 m', 'White shark, 4m',
       "Tiger shark, 15'", "Tiger shark, 6'", "Tiger shark, 8'",
       "Tiger shark, 10' to 12' ", "White shark, 15' to 16' ",
       'White shark or bronze whaler', 'White shark, 5m',
       'White shark, 2 m', 'White shark, 4 m to 5m ',
       "Tiger shark, 10'  ", 'White shark, 4m ', 'Tiger shark, 3m',
       'White shark, 2.7 m', 'Allegedly a 4 m tiger shark',
       'White shark, 2.5m', "White shark, 10'", 'Tiger shark, 2m',
       "White shark, >6'", "Possibly a 5' to 6' sandtiger shark",
       'White shark, 3m to 4m', ' Tiger shark, 2.8m', 'White shark x 2',
       'Oceanic whitetip shark, 2.5m ',
       'Oceanic whitetip shark, 2.5m, female', "White shark, 14' to 18' ",
       "Sandtiger shark, 4' to 5'", "Oceanic whitetip shark, 6'",
       "Sandtiger shark, 8'", "White shark, 5' to 6' juvenile ",
       'Oceanic whitetip shark, 2.5 to 3m', 'White shark, 2.5m ',
       "White shark, 12' ", 'White shark, 3.5m', 'White shark, 4m to 5m ',
       '4 to 5m white shark', '5 m white shark',
       "8' white shark or 7-gill shark", 'White shark, 2m',
       "White shark, 15'", "White shark, 12' to 15'",
       'Oceanic whitetip sharks were in the vicinity', "White shark, 12'",
       "Tiger shark, 14' ", 'White shark, 3m',
       "6' to 8' shark, possibly a tiger shark",
       "White shark, 12' to 15' ", 'White shark, 5m ',
       "White shark, 16' ", 'White shark?', "14' white shark",
       "Tiger shark, 8' to 12'", "Tiger shark, 5' ", '3.5 m white shark',
       'Whitetip reef shark', "12' to 14' white shark", "18' white shark",
       "Tiger shark, less than 10'", "14' to 16' white shark",
       "4 m [13'] white shark", 'juvenile white shark',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
       "Tiger shark, 3 m [10']", "6 m [20'] white shark",
       "Sandtiger shark, 2.1 m [7'] ", '4.5 m & 5 m white shark ',
       "5.5 m [18'] white shark", "2 m [6.75'] white shark",
       "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
       'Thought to involve a 2.5 m bull or tiger shark',
       'Tiger shark, 1.5 m ', "4.9 m to 5.5 m [16' to 18'] white shark",
       '9\'2" white shark', "5 m [16.5'] white shark",
       "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
       "4 m to 5 m [13' to 16.5'] white shark",
       "Tiger shark, 4 m [13']  ?",
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", "2.5 m [8.25'] white shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       'Possibly a bull shark or tiger shark', "Tiger shark, 1.5 m [5']k",
       'Bull or tiger shark', "3.7 m to 4.3 m [12' to 14'] white shark",
       "White shark, 6m [20']", "Tiger shark, 1.8 m [6'] ",
       "Tiger shark, 1.8 m [6']",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       "White shark, 2.7 m [9'] ", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "White shark, 3.5 m [11.5']  male ", "Tiger shark, 3 m [10'] ",
       'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
       "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "White shark, 4 m [13'] ", "Tiger shark, 2.5 m [8.25']",
       'Bronze whaler or tiger shark', "White shark, 4.6 m [15'] ",
       'Possibly a white shark', 'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark", "3 m [10'] white shark",
       "Tiger shark, 4 m to 4.3 m [13' to 14'] ", '4.5 m white shark',
       "Tiger shark, 2.7m  [9']", 'Tiger shark, 2m to 3m ',
       'Tiger shark, 4.5 m [14\'9"]',
       "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark",
       "Tiger shark, 2.4 m [8'] ", "2.5 m [8.25'] white shark ",
       'Possibly a tiger shark', 'Tiger shark, 300-kg [662-lb] ',
       "Tiger shark, 3.7 m [12'] ",
       "5 m to 5.5 m [16.5' to 18'] white shark",
       'Tiger shark caught 6 days later with diver\x92s remains in its gut',
       ">6 m [20'] white shark", "5.5 m to 6 m [18' to 20']  white shark",
       'Thought to involve a tiger shark',
       "Remains recovered from 5.5 m [18'] white shark",
       "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
       "Tiger shark, 2.4 m [8']",
       "Tiger shark, 3 m to 4.9 m [10' to 16'] ",
       '5 m to 6 m white shark',
       "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
       "Tiger shark, 4.3 m [14'] ", '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
       "5 m to 6 m [16.5' to 20'] white shark",
       "Tiger shark, 3 to 4 m [10' to 13'] ", "Tiger shark, >3 m [10']",
       "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       'Tiger shark, 3 m ', "2.7 m [9'] white shark",
       'White shark, identified by tooth pattern',
       "4 m to 5 m [13' to 16.5']  white shark",
       ">3.4 m [11'] white shark", "Tiger shark, 4 m [13'] ",
       "2.4 m to 3 m [8' to 10'] white shark",
       "3.5 m [11.5']  white shark", '5.7 m white shark',
       ">2.5 m [8.25'] white shark", ">2.4 m [8'] white shark",
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       'Tiger shark, 4 m ', '4.5 m to 5 m white shark',
       "2.4 m [8'] white shark", "Tiger shark, 5 m [16.5']",
       'Believed to involve a 2.8 m [9\'3"] white shark',
       "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
       "4.5 m to 5.5 m [14.7' to 18'] white shark",
       "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
       "7 m [23'] white shark",
       'Said to involve a tiger shark or a hammerhead shark',
       '6 m  white shark', "Tiger shark, 2.1 m [7']",
       'Tiger shark, 2.5 m ', "1.8 m [6'] white shark",
       '2.8 m [9\'3"] white shark', "White shark, 2.5 m [8.25']  ",
       "White shark, 2.3 m [7.5'], tooth fragment recovered",
       "White shark, 3.7 m [12'] ",
       "White shark, 5.5 m to 6 m [18' to 20']  ",
       "White shark, 5.5 m [18'] ", "White shark, 3 m [10'] k",
       "White shark, 3 m to 4 m [10' to 13'] ",
       "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
       "Tiger shark, 6' ", 'White shark, 4.5 m ',
       "White shark, 2.4 m [8']", "White shark, 5.8 m [19'] ",
       'White shark, 5m to 6m', "White shark, 3 m [10'] ",
       "White shark, 5.5 m to 6 m [18' to 20'] ",
       'White shark, 4 m to 5 m ',
       "White shark, 5 m to 6 m [16.5 to 20'] ",
       "White shark, 5 m [16.5']",
       "White shark, 4.4 m to 5 m [14.5' to 16.5'] ",
       "White shark, 2.5 m [8.25'] ", "White shark, 3 m [10']rk",
       "White shark, 5 m to 6 m [16.5' to 20']  ",
       "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
       'White shark according to tooth pattern and witnesses',
       "White shark, 4.3 m 4.9 m [14' to 16'] ",
       'White shark, identified by tooth fragments in surfboard',
       "White shark, 4.3 m [14'], (tooth fragment recovered)",
       "White shark, 2.5 m [8.25'], an immature female, previously injured",
       'Tiger shark, tooth fragment recovered',
       "White shark, 2.4 m [8'] ", "White shark, 1.5 m [5'] k",
       "White shark, 3 m to 3.7 m [10' to 12'] ",
       'White shark (tooth fragment recovered)',
       ">1.2 m [4'] tiger shark", 'White shark, 3 m ',
       "White shark, 2.1 m [7'] ",
       "White shark, 4.3 m [14'] (or bronze whaler)",
       "White shark, 4.3 m to 4.9m [14' to 16']",
       'White shark, based on bite pattern',
       "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
       "White shark, 2.1 m [7']  based on tooth pattern",
       "White shark, 5 m [16.5'], identified by Dr. W. I. Follett on tooth marks",
       "Reported to involve a White shark, 6 m to 7m [20' to 23'] ",
       "White shark, 3 m [10']; identifed by Dr. W.I. Follett on tooth marks",
       "Tiger shark, 3.7 m [12']",
       "White shark, 1.8 m to 2.1 m [6' to 7']  according to Shreuder and a witness",
       "Tiger shark, 4.6 m to 7.6 m [15' to 25'] ",
       "Tiger shark, 1.5 m to 1.8 m [5' to 6'] ", 'Tiger shark, <2 m TL',
       "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut",
       "White shark, 5 m to 6 m [16.5' to 20] ",
       '3.6 m  white shark  (or bronze whaler)',
       'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett',
       "White shark,4.6 m [15'] ", "White shark, 1.8 m [6'] ",
       'White shark, 3m, seen in area and hooked 3 days later',
       "White shark, 3.7 m [12']  according to witnesses",
       "Tiger shark, 3.7 m to 4.3 m  [12' to 14']",
       'White shark, 3.6 m [11\'9"] ', 'White shark, 4.2 m [13\'9"] ',
       'White shark, according to witnesses',
       'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)',
       'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses',
       'White shark, species identity confirmed by tooth pattern',
       'White shark, 160-kg [353-lb], identity confirmed by tooth pattern',
       'Tiger shark,  3.6 m [11\'9"], 850-kg [1874-lb] female, contained Girvan\'s remains ',
       "Tiger shark, 9' to 10' ",
       'White shark (identified by Dr. Hugh Smith) ',
       "Tiger shark, 4.6 m [15'] ",
       "White shark, 3.5 m to 4 m [11.5' to 13'] ",
       "Tiger shark, 1.5 m [5'] ", "White shark 4.9 m [16'] ",
       'White shark, 4.5 m [14\'9"], identity confirmed by witness & tooth pattern',
       "White shark, 4.4 m [14.5'] . ",
       "Said to involve 6 to 7 m [20' to 23'] white shark",
       "1.5 m [5'] white shark or sevengill shark",
       "Tiger shark, 4 m [13'] female",
       "White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark ",
       "Thought to involve a 2.6 m [8.5'] white shark"], dtype=object)

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [133]:
# La forma de nuestro df antes de añadirle la columna:

df_new.shape

(1502, 14)

In [134]:
df_new['siglo'] = np.where((df_new['year']<2000), 'siglo-XX', 'siglo-XXI')

/tmp/ipykernel_2777/4270764431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['siglo'] = np.where((df_new['year']<2000), 'siglo-XX', 'siglo-XXI')

In [135]:
# Comprobamos que se ha añadido la columna

df_new.shape

(1502, 15)

In [136]:
df_new.head(1)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.

In [137]:
df_new.to_csv('attacks_modificado_2.csv')