1. Cargad el csv que guardasteis ayer.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('attacks_modificado.csv')
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [3]:
df.shape

(6114, 14)

Antes de seguir con las preguntas, este DataFrame est치 terriblemente sucio. En las pr칩ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.
Para ello vamos a utilizar el m칠todo .dropna() de pandas. Tendr칠is que ejecutar la siguiente l칤nea de c칩digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [4]:
# Preferimos ejecutarlo y guardarlo en una variable nueva, para poder comparar luego los dos dataframes. Quitamos el inplace = True

df_new = df.dropna()
df_new.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [5]:
df_new.isnull().sum()

case_number    0
unnamed:_0     0
year           0
type           0
country        0
area           0
location       0
activity       0
name           0
sex_           0
age            0
time           0
species_       0
href           0
dtype: int64

쮺u치ntas filas se han eliminado con esta l칤nea de c칩digo?

In [6]:
filas_antes, _ = df.shape

In [7]:
filas_despues, _ = df_new.shape

In [8]:
filas_eliminadas = filas_antes - filas_despues
filas_eliminadas

4612

2. 쮺u치l es el n칰mero de ataques que se han producido en Estados Unidos?

In [11]:
usa = df_new[df_new['country'] == 'USA']

In [12]:
# Numero de ataques en USA:

usa.shape[0]

719

3. 쯏 en Espa침a?

In [13]:
spain = df_new[df_new['country'] == 'SPAIN']

In [15]:
spain

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castell칩n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...
377,2015.08.18.a,378,2015.0,Invalid,SPAIN,Alicante,"Poniente Beach, Benidorm",Swimming,male,M,10,11h00,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
1007,2010.07.16.b,1011,2010.0,Provoked,SPAIN,Grand Canary Island,"Sardina del Norte, G치ldar",Swimming,male,M,9,19h15,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2469,1993.09.03,2476,1993.0,Unprovoked,SPAIN,Costa Blanca,"Playa de las Arenas, Valencia",Swimming,Jorge Durich Heredia (or Hernandez),M,69,08h00,1.2 m [4'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [14]:
# Numero de ataques en SPAIN:

spain.shape[0]

5

* 3.1 쮼n qu칠 regiones se han producido los ataques?

In [16]:
spain['area']

98                Castell칩n
233       Alicante Province
377                Alicante
1007    Grand Canary Island
2469           Costa Blanca
Name: area, dtype: object

* 3.2 쮺u치ntos ataques se han producido en cada 치rea?

In [21]:
# Lo mostramos filtrando

print('Castell칩n -->', df_new[df_new['area'] == 'Castell칩n'].shape[0])
print('Alicante Province -->', df_new[df_new['area'] == 'Alicante Province'].shape[0])
print('Alicante -->', df_new[df_new['area'] == 'Alicante'].shape[0])
print('Grand Canary Island -->', df_new[df_new['area'] == 'Grand Canary Island'].shape[0])
print('Costa Blanca -->', df_new[df_new['area'] == 'Costa Blanca'].shape[0])

Castell칩n --> 1
Alicante Province --> 1
Alicante --> 1
Grand Canary Island --> 1
Costa Blanca --> 1

In [17]:
# O con la funcion value_counts()

spain['area'].value_counts()

Castell칩n              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 游늷 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m칠todo isin(). Hacedlo con ambas herramientas.

In [23]:
# Con dos condiciones de filtrado

aus_usa = df_new[(df_new['country'] == 'AUSTRALIA') | (df_new['country'] == 'USA')]
aus_usa.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [24]:
aus_usa.shape

(1043, 14)

In [26]:
# Con el metodo .isin()

aus_usa2 = df_new[df_new['country'].isin(['AUSTRALIA','USA'])]
aus_usa2.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [27]:
aus_usa2.shape

(1043, 14)

* 4.1 쮺u치ntos ataques se han producido en cada pa칤s?

In [28]:
# En USA

usa = aus_usa[aus_usa['country'] == 'USA']
usa.shape[0]

719

In [29]:
# En Australia

aus = aus_usa[aus_usa['country'] == 'AUSTRALIA']
aus.shape[0]

324

* 4.2 쮿a habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [32]:
# Comprobamos c칩mo puede estar escrito

aus['activity'].value_counts()

Surfing                                              87
Swimming                                             40
Spearfishing                                         22
Fishing                                              13
Snorkeling                                           10
                                                     ..
Abalone diving using Hookah (near calving whales)     1
Playing / standing                                    1
Dived naked into the water on a bet                   1
Swimming breast stoke                                 1
Bathing in knee-deep water                            1
Name: activity, Length: 108, dtype: int64

In [31]:
# Filtramos para obtener el resultado preciso, no hay

aus[aus['activity'] == 'Paddling'].value_counts()

Series([], dtype: int64)

* 4.3 쮺u치ntos ataques se han producido en Australia antes del 2000?

In [37]:
aus[aus['year'] <= 2000].shape[0]

157

* 4.4 쯏 despu칠s del 2000?

In [38]:
aus[aus['year'] >= 2000].shape[0]

173

5. Extraed unicamente los ataques a mujeres.

In [40]:
df[df['sex_'] == 'F'].head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
14,2018.05.00,14,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,NaN,"Tawny nurse shark, 2m",http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
43,2018.02.14,43,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,Sharna Babd,F,NaN,18h00,Possibly a wobbegong,http://sharkattackfile.net/spreadsheets/pdf_di...

6. 쮺u치ntas mujeres fueron atacadas en Espa침a?

In [41]:
df[(df['sex_'] == 'F') & (df['country'] == 'SPAIN')].value_counts()  # Ala! todos los ataques de tibur칩n ocurridos en Espa침a fueron a mujeres!! y no fueron provocados

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castell칩n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
113,2017.07.23.a,113,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,NaN,Afternoon,Blue shark 6',http://sharkattackfile.net/spreadsheets/pdf_di...
248,2016.07.08.R,249,2016.0,Unprovoked,SPAIN,Canary Islands,"Las Teresitas, Tenerife",Wading,female,F,10,NaN,Angel shark,http://sharkattackfile.net/spreadsheets/pdf_di...
320,2015.12.25,321,2015.0,Unprovoked,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,Cristina Ojeda-Thies,F,38,NaN,"Silky shark, 6.5'",http://sharkattackfile.net/spreadsheets/pdf_di...
508,2014.08.27.c,509,2014.0,Unprovoked,SPAIN,Alicante,Benidorm,Swimming,Raquel Martin,F,30s,NaN,small shark,http://sharkattackfile.net/spreadsheets/pdf_di...

7. Extraed los ataques que se hayan producido en el a침o 2000, 1997 y 2006. Utilizad el m칠todo isin() para resolver este ejercicio.

In [ ]:
years = df[df['year'].isin([])]

8. Si extraemos los valores 칰nicos de la columna species nos podemos dar cuenta que est치 un poco sucia y extraer informacion 칰til de la misma se puede convertir en algo dif칤cil. En este ejercicio tendr칠is que extraer los ataques que han ocurrido por tibur칩n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el m칠todo str.contains() para resolver este ejercicio.

9. Extraed ahora los ataques por tibur칩n blanco o tigre. Utilizad el m칠todo str.contains() para resolver este ejercicio.

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el a침o sea menor que 2000 pondremos siglo-XX y el resto de los a침os siglo-XXI.

In [15]:
df_new.shape

(1502, 15)

In [16]:
df_new['siglo'] = np.where((df_new['year']<2000), 'siglo-XX', 'siglo-XXI')

/tmp/ipykernel_17934/4270764431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['siglo'] = np.where((df_new['year']<2000), 'siglo-XX', 'siglo-XXI')

In [17]:
df_new

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5905,1868.05.13,5922,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX

In [18]:
# c칩mo se har칤a con este metodo
# df_new.insert((df_new['year']<2000)'siglo') =

11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de ma침ana.

In [19]:
df_new.to_csv('attacks_modificado_2.csv')

In [20]:
df_new

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5905,1868.05.13,5922,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX