1. Cargad el csv que guardasteis ayer.

In [19]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('attacks_modificado.csv')
df.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [43]:
df.shape

(6114, 14)

Antes de seguir con las preguntas, este DataFrame estÃ¡ terriblemente sucio. En las prÃ³ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.
Para ello vamos a utilizar el mÃ©todo .dropna() de pandas. TendrÃ©is que ejecutar la siguiente lÃ­nea de cÃ³digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [44]:
# preferimos ejecutarlo y guardarlo en una variable nueva, para poder comparar luego los dos dataframes. Quitamos el inplace = True
df_new = df.dropna()
df_new.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

In [36]:
df_new.isnull().sum()

case_number    0
unnamed:_0     0
year           0
type           0
country        0
area           0
location       0
activity       0
name           0
sex_           0
age            0
time           0
species_       0
href           0
dtype: int64

Â¿CuÃ¡ntas filas se han eliminado con esta lÃ­nea de cÃ³digo?

In [48]:
filas_antes, _ = df.shape

In [49]:
filas_despues, _ = df_new.shape

In [50]:
filas_eliminadas = filas_antes - filas_despues
filas_eliminadas

4612

2. Â¿CuÃ¡l es el nÃºmero de ataques que se han producido en Estados Unidos?

3. Â¿Y en EspaÃ±a?

* 3.1 Â¿En quÃ© regiones se han producido los ataques?

* 3.2 Â¿CuÃ¡ntos ataques se han producido en cada Ã¡rea?

4. Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. ðŸ“Œ Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el mÃ©todo isin(). Hacedlo con ambas herramientas.

* 4.1 Â¿CuÃ¡ntos ataques se han producido en cada paÃ­s?

* 4.2 Â¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

* 4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?

* 4.4 Â¿Y despuÃ©s del 2000?

5. Extraed unicamente los ataques a mujeres.

6. Â¿CuÃ¡ntas mujeres fueron atacadas en EspaÃ±a?

7. Extraed los ataques que se hayan producido en el aÃ±o 2000, 1997 y 2006. Utilizad el mÃ©todo isin() para resolver este ejercicio.

8. Si extraemos los valores Ãºnicos de la columna species nos podemos dar cuenta que estÃ¡ un poco sucia y extraer informacion Ãºtil de la misma se puede convertir en algo difÃ­cil. En este ejercicio tendrÃ©is que extraer los ataques que han ocurrido por tiburÃ³n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el mÃ©todo str.contains() para resolver este ejercicio.

9. Extraed ahora los ataques por tiburÃ³n blanco o tigre. Utilizad el mÃ©todo str.contains() para resolver este ejercicio.

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el aÃ±o sea menor que 2000 pondremos siglo-XX y el resto de los aÃ±os siglo-XXI.

11. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de maÃ±ana.