En este ejercicio pondremos en pr치ctica los conceptos b치sicos para juntar varios csv que compartan informaci칩n.
Trabajaremos con tres ficheros diferentes:
* El csv que creamos en el ejercicio de pair programming Pandas IV, d칩nde recordamos eliminamos ciertas columnas que no eran necesarias, y hab칤amos creado nuevas.

* El csv llamado attacks_historico donde tenemos informaci칩n sobre los ataques de tibur칩n previos al a침o 1800.

* El csv llamado attacks_adicional donde tenemos informaci칩n sobre los ataques de tibur칩n.

El principal objetivo de este ejercicio de pair programming es acabar teniendo un 칰nico DataFrame con toda la informaci칩n contenida en los tres csv anteriores.

En este ejercicio pondremos en pr치ctica los conceptos b치sicos para juntar varios csv que compartan informaci칩n.
Trabajaremos con tres ficheros diferentes:
* El csv que creamos en el ejercicio de pair programming Pandas IV, d칩nde recordamos eliminamos ciertas columnas que no eran necesarias, y hab칤amos creado nuevas.
* El csv llamado attacks_historico donde tenemos informaci칩n sobre los ataques de tibur칩n previos al a침o 1800.

* El csv llamado attacks_adicional donde tenemos informaci칩n sobre los ataques de tibur칩n.

El principal objetivo de este ejercicio de pair programming es acabar teniendo un 칰nico DataFrame con toda la informaci칩n contenida en los tres csv anteriores.

Para llevar a cabo nuestro objetivo tendr칠is que seguir los siguientes pasos:

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que informaci칩n tienen en com칰n y debatir con tu compa침era como podr칤amos juntar toda la informaci칩n.

2. Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. 쮼st치n todas en min칰sculas? 쯊ienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesi칩n III que no eran 칰tiles, pero esas columnas est치n todav칤a en el hist칩rico. Si no fuera por eso podr칤amos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor m칠todo.

4. Es el momento de unir la informaci칩n de todos los ataques de tibur칩n que acabamos de crear con el DataFrame de informaci칩n adicional. Debatid que m칠todo es el m치s correcto para unir toda esta informaci칩n y ejecutadlo.
游늷 NOTA Cuando hag치is la uni칩n considerad que la informaci칩n que m치s nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinar치 el tipo de uni칩n.

5. Guardad el dataframe nuevo en un csv que usaremos ma침ana en la clase de pair programming

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('attacks_modificado_2.csv')
df.head(2)

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [ ]:
# No sabemos por qu칠 se nos ha creado una columna llamada Unnamed: 0. La eliminamos

In [30]:
df.drop(["Unnamed: 0"], axis = 1, inplace= True)

In [31]:
df.shape

(1502, 15)

In [32]:
df.isnull().sum()

case_number    0
unnamed:_0     0
year           0
type           0
country        0
area           0
location       0
activity       0
name           0
sex_           0
age            0
time           0
species_       0
href           0
siglo          0
dtype: int64

In [33]:
df.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [ ]:
# Cargamos el df historico y lo exploramos

In [34]:
df_hi = pd.read_csv('attacks_historico.csv')
df_hi.head(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [15]:
df_hi.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [16]:
df_hi.shape

(170, 22)

In [20]:
df_hi.isnull().sum()

Unnamed: 0                  0
Case Number                 0
Year                        0
Type                        0
Country                    10
Area                       46
Location                   51
Activity                   31
Name                        9
Sex                        14
Age                       154
Time                      160
Species                   126
Investigator or Source      1
pdf                         0
href formula                0
href                        0
Case Number.1               0
Case Number.2               0
original order              0
Unnamed: 22               170
Unnamed: 23               170
dtype: int64

In [18]:
# Cargamos el df adicional y lo exploramos

df_adi = pd.read_csv('attacks_adicional.csv')
df_adi.head(2)

,Unnamed: 0,Case Number,Fatal (Y/N),Injury,Date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

In [ ]:
# Vamos a hacer la modificaciones necesarias al df hist칩rico

In [ ]:
# Renombramos las columnas

In [35]:
columnas_nuevas = {col :  col.lower().replace(' ', '_') for col in df_hi.columns}

In [36]:
df_hi.rename(columns = columnas_nuevas, inplace = True)
df_hi.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [ ]:
# Eliminamos las mismas columnas que eliminamos en el df que modificamos primero

In [37]:
df_hi.drop(["unnamed:_23", "case_number.1", "unnamed:_22", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1, inplace = True)
df_hi.shape

(170, 14)

In [38]:
# Chequeamos los nulos
df_hi.isnull().sum()

unnamed:_0       0
case_number      0
year             0
type             0
country         10
area            46
location        51
activity        31
name             9
sex_            14
age            154
time           160
species_       126
href             0
dtype: int64