En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.
Trabajaremos con tres ficheros diferentes:
* El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
* El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800.

* El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón.

El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

2. Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [29]:
import pandas as pd
import numpy as np

In [30]:
# ejercicio 1
df = pd.read_csv('attacks_modificado_2.csv')
df.head(2)

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [31]:
# No sabemos por qué se nos ha creado una columna llamada Unnamed: 0. La eliminamos

In [32]:
df.drop(["Unnamed: 0"], axis = 1, inplace= True)

In [33]:
df.shape

(1502, 15)

In [34]:
df.isnull().sum()

case_number    0
unnamed:_0     0
year           0
type           0
country        0
area           0
location       0
activity       0
name           0
sex_           0
age            0
time           0
species_       0
href           0
siglo          0
dtype: int64

In [35]:
df.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [36]:
# Cargamos el df historico y lo exploramos

In [37]:
df_hi = pd.read_csv('attacks_historico.csv')
df_hi.head(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [38]:
df_hi.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [39]:
df_hi.shape

(170, 22)

In [40]:
df_hi.isnull().sum()

Unnamed: 0                  0
Case Number                 0
Year                        0
Type                        0
Country                    10
Area                       46
Location                   51
Activity                   31
Name                        9
Sex                        14
Age                       154
Time                      160
Species                   126
Investigator or Source      1
pdf                         0
href formula                0
href                        0
Case Number.1               0
Case Number.2               0
original order              0
Unnamed: 22               170
Unnamed: 23               170
dtype: int64

In [67]:
# Cargamos el df adicional y lo exploramos

df_adi = pd.read_csv('attacks_adicional.csv', index_col = 0)
df_adi.head(2)

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

In [42]:
# ejercicio 2
# Vamos a hacer la modificaciones necesarias al df histórico

In [43]:
# Renombramos las columnas

In [44]:
columnas_nuevas = {col :  col.lower().replace(' ', '_') for col in df_hi.columns}

In [45]:
df_hi.rename(columns = columnas_nuevas, inplace = True)
df_hi.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [68]:
#renombramos las columnas del df_adi(miinusculas)
columnas_nuevas_adi = {col :  col.lower().replace(' ', '_') for col in df_adi.columns}

In [69]:
df_adi.rename(columns = columnas_nuevas_adi, inplace = True)
df_adi.head(2)

,case_number,fatal_(y/n),injury,date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

In [46]:
# Eliminamos las mismas columnas que eliminamos en el df que modificamos primero

In [47]:
df_hi.drop(["unnamed:_23", "case_number.1", "unnamed:_22", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1, inplace = True)
df_hi.shape

(170, 14)

In [48]:
df_hi

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,6297,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
166,6298,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
167,6299,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
168,6300,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
169,6301,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [49]:
# Chequeamos los nulos
df_hi.isnull().sum()

unnamed:_0       0
case_number      0
year             0
type             0
country         10
area            46
location        51
activity        31
name             9
sex_            14
age            154
time           160
species_       126
href             0
dtype: int64

In [50]:
df.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [51]:
df_hi.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

In [52]:
# ejercicio 3

In [58]:
#ordenamos las columnas del df para que el orden sea igual que df_hi
df = df[['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href']]

In [55]:
#añadimos la columna "siglo" al df_hi
df_hi['siglo'] = np.where((df_hi['year']<2000), 'siglo-XX', 'siglo-XXI')

In [ ]:
# ejercicio 4
#juntamos los df + df_hi

In [62]:
df_all = pd.concat([df, df_hi], axis = 0)
df_all

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
1,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
2,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
3,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
4,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,6297,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
166,6298,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
167,6299,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
168,6300,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
169,6301,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX

In [76]:
# juntamos df_all + df.adi
df_all_all = df_all.merge(df_adi, how = "left", on= "case_number")
df_all_all.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,03-Jun-2018

In [77]:
df_all_all.shape

(1672, 18)

In [78]:
# ejercicio 5
#guardamos el nuevo df_all_all
df_all_all.to_csv("attacks_modificado_3.csv")