En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.
Trabajaremos con tres ficheros diferentes:
* El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
* El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800.

* El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón.

El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargamos el df original modificado y lo exploramos

df = pd.read_csv('attacks_modificado_2.csv', index_col = 0)
df.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [3]:
df.shape

(1502, 15)

In [4]:
df.isnull().sum()

case_number    0
unnamed:_0     0
year           0
type           0
country        0
area           0
location       0
activity       0
name           0
sex_           0
age            0
time           0
species_       0
href           0
siglo          0
dtype: int64

In [5]:
df.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [6]:
# Cargamos el df historico y lo exploramos

df_hi = pd.read_csv('attacks_historico.csv', index_col = 0)
df_hi.head(2)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [7]:
df_hi.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
df_hi.shape

(170, 21)

In [9]:
df_hi.isnull().sum()

Case Number                 0
Year                        0
Type                        0
Country                    10
Area                       46
Location                   51
Activity                   31
Name                        9
Sex                        14
Age                       154
Time                      160
Species                   126
Investigator or Source      1
pdf                         0
href formula                0
href                        0
Case Number.1               0
Case Number.2               0
original order              0
Unnamed: 22               170
Unnamed: 23               170
dtype: int64

In [10]:
# Cargamos el df adicional y lo exploramos

df_adi = pd.read_csv('attacks_adicional.csv', index_col = 0)
df_adi.head(2)

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

2. Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [11]:
## Vamos a hacer la modificaciones necesarias al df histórico
# Renombramos las columnas

columnas_nuevas = {col :  col.lower().replace(' ', '_') for col in df_hi.columns}

In [12]:
df_hi.rename(columns = columnas_nuevas, inplace = True)
df_hi.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [13]:
# Renombramos las columnas del df adicional

columnas_nuevas_adi = {col :  col.lower().replace(' ', '_') for col in df_adi.columns}

In [14]:
df_adi.rename(columns = columnas_nuevas_adi, inplace = True)
df_adi.head(2)

,case_number,fatal_(y/n),injury,date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [15]:
# Eliminamos las mismas columnas que eliminamos en el df original modificado

df_hi.drop(["unnamed:_23", "case_number.1", "unnamed:_22", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1, inplace = True)

# Comprobamos
df_hi.shape

(170, 13)

In [18]:
df_hi.head(1)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [19]:
# Comparamos columnas entre el df original y el histórico

In [20]:
df.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [21]:
df_hi.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [22]:
# Ordenamos las columnas del df para que el orden sea igual que df_hi

df = df[['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href']]

In [23]:
df.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

In [24]:
# Eliminamos la columna unnamed: 0 de nuestro df original modificado

df.drop(["unnamed:_0"], axis = 1, inplace = True)
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [26]:
# Añadimos la columna "siglo" al df_hi

df_hi['siglo'] = np.where((df_hi['year']<2000), 'siglo-XX', 'siglo-XXI')

df_hi.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href', 'siglo'],
      dtype='object')

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [27]:
# Juntamos df + df_hi

df_2 = pd.concat([df, df_hi], axis = 0)

# Chequeamos que el total de filas se ha sumado
df_2.shape

(1672, 14)

In [28]:
# Juntamos df_2 + df.adi

df_3 = df_2.merge(df_adi, how = "left", on= "case_number")
df_3.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Y,FATAL,03-Jun-2018

In [29]:
# Comprobamos sus nuevas dimensiones

df_3.shape

(1672, 17)

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming.

In [78]:
# Guardamos el nuevo df_3 a csv

df_3.to_csv("attacks_modificado_3.csv")