1. Cargar el dataset
üí° Pista Si hacemos la carga del dataset sin el par√°metro encoding nos puede dar error. Aqu√≠ ten√©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("attacks.csv")
df.head(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

2. Haced una exploraci√≥n b√°sica del DataFrame:

¬øCu√°ntas filas y columnas tiene el DataFrame?

In [14]:
df.shape

(6114, 22)

Mostrad las primeras cinco filas y las √∫ltimas cinco filas del DataFrame.

In [15]:
df.head(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [16]:
df.tail(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

Mostrad 2 filas al azar del DataFrame.

In [17]:
df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
906,910,2011.06.15,2011.0,Unprovoked,REUNION,Saint-Gilles-les-Bains,Boucan-Canot,Boogie Boarding,Eddie Aubert,M,...,NaN,"Surfprevention.com, 6/16/2011",2011.06.15-Auber.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.06.15,2011.06.15,5393.0,NaN,NaN
2079,2086,1999.11.30,1999.0,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Surfing,Jeremiah Wyche,M,...,NaN,"A. Brenneka, Shark Attack Survivors; The Palm ...",1999.11.30-Wyche.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.11.30,1999.11.30,4217.0,NaN,NaN

¬øCu√°l es el nombre de las columnas del DataFrame?

In [18]:
df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

¬øCu√°les son los principales est√°disticos del DataFrame? Mostrad por separado las variables categ√≥ricas y las variables num√©ricas.

In [19]:
df.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

¬øCu√°l es el porcentaje de valores nulos en cada columna?

In [20]:
df.shape

(6114, 22)

In [21]:
porcentaje_nulos = (df.isnull().sum()/df.shape[0])*100
porcentaje_nulos

Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

Sacad los valores √∫nicos y su frecuencia de las variables num√©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [22]:
dic_values = {}
for column in df.columns:
    dic_values.setdefault(column, df[column].unique())

dic_values

{'Unnamed: 0': array([   0,    1,    2, ..., 6129, 6130, 6131]),
 'Case Number': array(['2018.06.25', '2018.06.18', '2018.06.09', ..., '1803.03.00',
        '1802.04.13.R', '1801.12.18.R'], dtype=object),
 'Year': array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
        2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
        2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
        1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
        1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
        1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
        1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
        1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
        1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
        1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
        1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
        1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
        1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
        1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
        1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
        1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
        1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
        1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
        1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
        1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
        1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
        1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
        1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.]),
 'Type': array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
        'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object),
 'Country': array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
        'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
        'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
        'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
        'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
        'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
        'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
        'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
        'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
        'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
        'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
        'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
        'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
        'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
        'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
        'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
        'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
        'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
        'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
        'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
        'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
        'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
        'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
        'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
        'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
        'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
        'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
        'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
        'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
        'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
        'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
        'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
        'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
        'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
        'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
        'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
        ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
        'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
        'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
        'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'HONDURAS', 'MONACO',
        'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
        'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
        'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
        'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
        'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
        'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
        'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA'],
       dtype=object),
 'Area': array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
        'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
        'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
        'Hua Hin', 'Cocos Island', 'Western Australia',
        'Alifu Alifu Atoll', 'Western Cape Province', 'New Providence',
        'Alagoas', nan, 'Victoria', 'KwaZulu-Natal',
        'Boi Island, Victoria', 'Galapagos Islands', 'Fernando de Noronha',
        'Sepang', 'Holquin Province', 'Pamplemousses ', 'South Australia',
        'North Island', 'New York', 'Canary Islands', ' Upolu Island',
        'Shizuoka Prefecture', 'Texas', 'Castell√≥n', 'Massachusetts',
        'Red Sea Protectorate', 'New Providence District',
        '40 miles off Grand Bahama Island', 'Ascension Island',
        'New Jersey', 'Majorca', 'Washington', 'Tabasco', 'Anjouan',
        'Ibiza Island', 'Marquesas', 'South Devon', 'New Providence ',
        'Sharjah, ', 'Baja California Sur', 'Saint-Leu', 'South Island',
        'Luzon Island', 'Great Exuma', 'Saint-Andre', 'Bimini', 'Bali',
        'Tuamotos', 'Oregon', 'North Province', 'New Providence Island',
        'Alicante Province', 'Hong Kong', 'Kochi Prefecture', 'Tasmania',
        'Abaco Islands', 'Alabama', 'North Carolina', 'Isla Provedencia',
        'Suez', 'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
        'Santa Catarina State', 'South Province', 'Altagracia Province',
        'Grand Cayman', 'Balne√°rio Cambori√∫', 'Fujairah Emirate',
        'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
        'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
        'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa',
        'Central Tuamotu', 'd\x92√âtang-Sal√©', 'Granada',
        'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
        'Maryland', 'Louisiana', 'West End', 'Delaware',
        'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
        'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
        'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
        'Southern District', 'Bay of Biscay', 'Quintana Roo',
        'Exuma Islands', 'Saint-Paul', 'Taitung ', 'Kingston Parish',
        'Santa Cruz Island', 'Saint-Gilles', 'Tuamotus', 'Eleuthera',
        'St. Catherine', 'Palawan', 'Mercury Islands', 'Delta', "Vava'u",
        'Inner Hebrides', 'Saint Leu', 'Trois-Bassins', 'British Colombia',
        'Guerrero', 'Saint-Benoit', 'Tabuk Province',
        'Antofagasta Province', "St John's", 'Santa Elena',
        'East New Britain', 'Bois-Blanc ', 'Moray', 'Puerto Rico',
        'Saman√° Province', 'Coast Province', 'Central Province',
        'Primorsky Krai',
        'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
        'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
        'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andr√©s archipelago',
        'Kedah', 'Umm al Qaywayan Province', 'Vitu Levu',
        'South Sinai Peninsula', ' Loyalty Islands', 'Saint Gilles ',
        'Maine', 'Virginia', "Ha'api ", 'Western Province',
        'Jeju Province', 'Binh Dinh Province', 'Antsiranana Province',
        'Sinai Peninsula', 'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul',
        'Dubai', 'Torres Strait', 'Eastern Province',
        'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
        'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
        'St. Johns Reef', 'Off Green Island', 'North Region',
        'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
        'Maranh√£o', 'Red Sea', 'Batanes Provine', 'Luzon',
        'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
        'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
        'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
        'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
        'Loyalty Islands', 'Marovo Lagoon',
        'Territory of Cocos (Keeling) Islands', 'Oslo Fjord', 'Kent',
        'Bird Island', 'Providenciales', 'Bimini Islands',
        'Muhafazat Hadramawt', 'Cook islans', 'Surigao del Norte',
        'Between Somalia & Yemen', 'Ambergris Caye', 'Saint-Pierre',
        'Kentucky', 'Andros Islands', 'Guam', 'Western Area',
        '300 miles from Antigua', '800 miles from land',
        '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
        'Inner Islands', 'Shanghai', 'Malampa Province',
        "South Ch'ungch'ong Province", 'New Mexico',
        'Santa Isabel Province', 'Santiago de Cuba Province',
        'Camaguey Province', 'Conservat√≥ria District', 'South Carolina ',
        'Kuril Islands in the Pacific', 'Wakayama Prefecture',
        "Nuku'alofa", 'Saint-Beno√Æt',
        'South Island, near Karitane north of Dunedin', 'Rocha',
        'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
        'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
        'Rio de Janeiro', 'Nueva Esparta', 'Southland',
        'North Pacific coast', 'Caroline Islands', 'Cheshire',
        'Louisiade Archipelago',
        'KwaZulu-Natal between Port Edward and Port St Johns',
        'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
        'Rayong Province', 'Zamboanga del Sur Province',
        'Rio Grande de Norte',
        'Off the western coast of peninsular Malaysia', 'New Brunswick',
        'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
        'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
        'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
        "L' Etang Sal√©-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
        'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
        "Grand'Anse", 'Beaufonds', 'Miyako', "L'Etang-Sale",
        'Chatham Islands ', 'South Sinai, Gulf of Aqaba', 'Cat Cay',
        'Missouri', '12 miles off the north coast', 'Saint-Paul ',
        'Chatham Islands, east of New  Zealand', 'Saint-Denis',
        'Vava\x92u', 'Mississippi', 'Clearwater Bay', 'New Territories',
        'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
        'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
        'Walkers Cay', 'On the Kowloon penisula, south of Sai Kung',
        'Ehime Prefecture', 'Tongapatu Group', 'West Africa',
        'Wakaya Island', 'North Carolina ', 'Mexico / Caribbean Sea',
        'Antarctic Ocean', 'La Saline-les-Bains', 'Sea of Japan',
        'Tavenui', 'Ligurian Sea', "L'Etang-Sal√©", 'Kowloon Peninsula',
        'Port Shelter', 'Laucala Island', 'Sainte-Marie',
        'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
        'Tyrrhenian Sea', 'New Ireland', 'Valpariso Province',
        'Viscayan Sea', 'Manfredonia ', 'Tokyo Prefecture', 'Saint-Louis',
        'Mindoro', 'Between DR and Puerto Rico',
        'Between Honiara & Isabel Island', 'Florida Straits',
        'Gulf of Lyons', 'C√°diz', 'Sicily', 'Andikira Fokithes',
        'Central Philippines', 'Rhode Island', 'English Channel',
        'North & South Carolina', 'Kumamoto Prefecture', 'Biserta',
        'Saint-Philippe', 'Chungnam', 'Eronogo Region', 'Coquimbo',
        'Pagasitikos Gulf', "St. Mary's Parish", 'Romblon Province',
        'Lamu Archipelago', 'Los Vilos', 'Island of Kos', "Ha'api",
        'Madeira Islands', 'Ho Ha Wan Marine Park', 'Southern Thailand',
        'Golfo de Venezia', 'Ralik Archipelago',
        'South China Sea 200 miles from Hong Kong',
        'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
        'Ganges-Brahmaputra delta', ' Split-Dalmatia County', 'Florida ',
        'Primorje-Gorski Kotar County ', 'Aulong Island',
        'Western Caroline Islands', 'Upolu Island', 'Antibes',
        'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
        'Khuzestan Province', 'Inhambe Province', 'Namonuito Atoll',
        'Eastern Caroline Islands',
        'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
        'St. Andrew Parish', '200 nm southeast of Manila', 'Limpopo River',
        'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
        'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
        'Gulf Province', 'Morobe Province', 'Lim√≥n Province',
        'Rombion Province', 'Veracruz', 'Brindisi Province',
        'Kagawa Prefecture', 'Liguria', 'Hamilton', 'Out Islands',
        'Mugla Province', 'Gibraltar', 'New Britain', 'Bay of Maputo',
        'Duke of York Islands', 'Taranto province', 'Northern Taiwan',
        'Admiralty Islands, Manus Province', 'North Sumatra',
        "250 miles southwest of O'ahu, Hawaii", 'West coast', 'East Sepik',
        'Near Bougainville (North Solomons)', 'East of the Gulf of Aqaba',
        'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
        'San Blas', 'Connecticut', 'Lau Group', 'Caribbean Coast',
        'Vita Levu', 'San Blas Islands', 'Puntarenas Province',
        'Lomaloma, Lau', 'Between Southampton & Canary Islands',
        'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
        'Santo Domingo', 'San Blas coast', 'Thessaly',
        'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
        'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
        'Sharon', 'Antalya Province', 'Northern District',
        'New Ireland Province, Bismarck Archipelago', 'Cyclades',
        'Viti Levu', 'Off the Coromandel Peninsula, North Island',
        'Madang', 'Guadalcanal Province', '10¬∫S, 142¬∫E', 'Kwajalein Atoll',
        'East Flores', 'Guerrrero', 'Western Luzon Island',
        'Shefa Province', '165  miles from Bermuda',
        '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
        'Venice Province', 'Sandaun Province', 'Anatolia',
        'East New Britain Province', 'United Arab Emirates',
        'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
        '9.35N 79.35W', 'Roncador Bank', 'Western District',
        'Enroute from Suez to Aden (Yemen)',
        '180 miles southeast of Okinawa', 'Eniwetok Atoll',
        'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
        'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
        'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
        'Madang (WO)', 'Between Timor & Darwin, Australia',
        'Pacific coast', 'St. Georges ', 'Eastern  Province',
        'Northwest of Viti Levu', 'West New Britain Province',
        'Rigo subdistrict', 'Masbate', '400 miles southeast of Sri Lanka',
        'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
        'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
        'PANAMA', 'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
        'Between England & South Africa', 'Mindanao',
        ' Kikori River mouth', 'South Chungcheong Province',
        'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
        'Between Hawaii & Wake Island', 'Taipei Hsien',
        'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
        '1,000 miles east of Hawaii', 'Honiara', 'Yucatan Channel',
        'Havana Province', 'Karun River',
        'Abau Subdistrict,Central Province',
        'New Britain, Bismarck Archipelago', 'Estuaire Province',
        'Near Dakar, Cap Vert Peninsula',
        'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
        'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
        'Between Comores & Madagascar', 'Corfu Island',
        '1000 miles west of Hawaii', 'Izo Islands',
        ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
        'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
        'Isles del Rosario', 'Wake Island', 'Isle of Man',
        'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
        'Buenos Aires Province', '330 to 350 miles east of Wake Island',
        'Nova Scotia', 'Gulf of Panama', 'Genoa  Province',
        'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
        'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
        'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
        'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
        'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
        'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
        'Tamaulipas', 'Calvados Archipelago', 'Shat-Al-Arab River',
        'Between Kwajalein Atoll & Johnston Island', 'Attica',
        'Adana Province', 'Bandar Ma\x92shur sea inlet', 'Saipan',
        'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
        '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
        'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
        'Colon Province', '300 miles east of Luzon',
        'Bernardino Strait near Gulf of Leyte',
        'Off Samar Island in the Gulf of Leyte',
        'Lake Nicaragua (fresh water)', 'Pacific Ocean',
        'Near the Fiji Islands', '40 miles south of Naples ',
        'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
        'Off South American coast', 'Makora-Ulawa Province',
        '04.05N-13.23W', 'Midway Atoll',
        '300 miles east of St. Thomas (Virgin Islands)',
        'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
        'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
        'Off Libya', 'North of Pernambuco, Brazil', 'Off coast of Ecuador',
        'Trelawney Province', 'In Convoy OB 274', 'New Georgia',
        'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
        'Torres Strait ', 'Carabobo', 'Ascension Bay', 'North China',
        'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
        'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
        'Fishing Grounds', 'Newfoundland', 'Isle of Wight',
        'Makira-Uluwa Province', 'Northern (Oro) Province', 'Herzliyah',
        'Elqui Province', 'Istanbul', 'St Michael Parish',
        'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
        'French Southern Territories', 'Niua ', 'Black River',
        'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
        'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
        'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
        'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
        'Valencia ', 'Vancouver',
        '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
        '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',

In [23]:
dic_counts = {}
for column in df.columns:
    dic_counts.setdefault(column, df[column].value_counts())

dic_counts

{'Unnamed: 0': 0       1
 4084    1
 4093    1
 4092    1
 4091    1
        ..
 2043    1
 2042    1
 2041    1
 2040    1
 6131    1
 Name: Unnamed: 0, Length: 6114, dtype: int64,
 'Case Number': 2018.06.25      1
 1959.07.23.a    1
 1959.05.30      1
 1959.06.13      1
 1959.06.14.a    1
                ..
 2000.07.02.a    1
 2000.07.02.b    1
 2000.07.04.a    1
 2000.07.04.b    1
 1801.12.18.R    1
 Name: Case Number, Length: 6113, dtype: int64,
 'Year': 2015.0    143
 2017.0    136
 2016.0    130
 2011.0    128
 2014.0    126
          ...
 1819.0      1
 1822.0      1
 1823.0      1
 1834.0      1
 1801.0      1
 Name: Year, Length: 207, dtype: int64,
 'Type': Unprovoked      4438
 Provoked         564
 Invalid          537
 Sea Disaster     232
 Boating          203
 Boat             133
 Questionable       2
 Boatomg            1
 Name: Type, dtype: int64,
 'Country': USA                               2200
 AUSTRALIA                         1316
 SOUTH AFRICA                       569
 PAPUA NEW GUINEA                   130
 NEW ZEALAND                        126
                                   ...
 RED SEA / INDIAN OCEAN               1
 BRITISH WEST INDIES                  1
 ADMIRALTY ISLANDS                    1
 FEDERATED STATES OF MICRONESIA       1
 GHANA                                1
 Name: Country, Length: 201, dtype: int64,
 'Area': Florida              1025
 New South Wales       480
 Queensland            306
 Hawaii                293
 California            286
                      ...
 St. Mary's Parish       1
 Romblon Province        1
 Lamu Archipelago        1
 Los Vilos               1
 Maharashtra             1
 Name: Area, Length: 791, dtype: int64,
 'Location': New Smyrna Beach, Volusia County                             162
 Daytona Beach, Volusia County                                 30
 Ponce Inlet, Volusia County                                   20
 Melbourne Beach, Brevard County                               18
 Myrtle Beach, Horry County                                    17
                                                             ...
 Ocean Beach, Jaycee Park, Vero Beach, Indian River County      1
 South Beach Park, Indian River County                          1
 460 miles off Iwakuni                                          1
  Boa Viagem Beach, Recife                                      1
 Hamelin Harbour, at Faure Island                               1
 Name: Location, Length: 4020, dtype: int64,
 'Activity': Surfing                                                        966
 Swimming                                                       842
 Fishing                                                        419
 Spearfishing                                                   330
 Bathing                                                        156
                                                               ...
 Motor launch Baby Princesa capsized with 22 people on board      1
 Sea Disaster Sinking of ferryboat Christina                      1
 Wreck of the 1689-ton Portuguese  coaster Angoche                1
 Hookah diving (submerged)                                        1
 Standing on landed shark's tail                                  1
 Name: Activity, Length: 1484, dtype: int64,
 'Name': male                 511
 female                93
 boy                   21
 2 males               16
 boat                  13
                     ...
 Chuck Anderson         1
 Richard Whatley        1
 Kenny Alexander        1
 22' pleasure boat      1
 Stephen Pettigew       1
 Name: Name, Length: 5118, dtype: int64,
 'Sex ': M      4939
 F       619
 M         2
 N         2
 lli       1
 .         1
 Name: Sex , dtype: int64,
 'Age': 17                154
 18                150
 20                140
 19                140
 15                137
                  ...
 20?                 1
  28                 1
 7      &    31      1
  30                 1
 2¬Ω                  1
 Name: Age, Length: 156, dtype: int64,
 'Time': Afternoon      183
 11h00          128
 Morning        120
 12h00          108
 15h00          108
               ...
 14h37            1
 10h07            1
 13h53            1
 13h23            1
 19h00-20h00      1
 Name: Time, Length: 366, dtype: int64,
 'Species ': White shark                                           161
 Shark involvement prior to death was not confirmed    105
 Invalid                                               101
 Shark involvement not confirmed                        87
 Tiger shark                                            70
                                                      ...
 Blacktip shark, 5' to 6'                                1
 3' shark, possibly  a blacktip or spinner shark         1
 Possibly  a blacktip or spinner shark                   1
 12' sandtiger shark                                     1
 Thought to involve a porbeagle or mako shark            1
 Name: Species , Length: 1529, dtype: int64,
 'Investigator or Source': C. Moore, GSAF                                             95
 C. Creswell, GSAF                                          92
 S. Petersohn, GSAF                                         82
 R. Collier                                                 55
 R. Collier, GSAF                                           48
                                                            ..
 Miami Herald, 5/18/1997                                     1
 The Mirror (London); Orlando Sentinel, 5/28, 1997, p.C3     1
 A. Mikula, Daytona Beach News-Journal, 6/1/1997, p.2C       1
 A. Mikula, Daytona Beach News-Journal, 6/1/199,  p.2C       1
 The Evening Post, 12/18/1801                                1
 Name: Investigator or Source, Length: 4837, dtype: int64,
 'pdf': 1898.00.00.R-Syria.pdf                 2
 1916.07.12.a-b-Stillwell-Fisher.pdf    2
 1931.09.21.a-b-Holaday-Barrows.pdf     2
 1906.09.27.R.a&b-Munich-Swede.pdf      2
 1934.12.23.a-b-Inman.pdf               2
                                       ..
 2000.07.04.b-Peterson.pdf              1
 2000.07.06-Walker.pdf                  1
 2000.07.07-Doolittle.pdf               1
 2000.07.09-Zent.pdf                    1
 1801.12.18.R-Pettigrew.pdf             1
 Name: pdf, Length: 6105, dtype: int64,
 'href formula': http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf                 2
 http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
 http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf     2
 http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      2
 http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf               2
                                                                                             ..
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.06-Walker.pdf                  1
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.07-Doolittle.pdf               1
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.09-Zent.pdf                    1
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.10-MA.pdf                      1
 http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf             1
 Name: href formula, Length: 6104, dtype: int64,
 'href': http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf               4
 http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf        3
 http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
 http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf           2
 http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
                                                                                         ..
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.30-NV-PNG.pdf              1
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.00-NV-Tanzania.pdf         1
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.a-Shidemantle.pdf       1
 http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.b-Benningfield.pdf      1
 http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf         1
 Name: href, Length: 6099, dtype: int64,
 'Case Number.1': 1952.08.04      2
 2018.06.25      1
 1959.07.23.b    1
 1959.06.13      1
 1959.06.14.a    1
                ..
 2000.07.02.a    1
 2000.07.02.b    1
 2000.07.04.a    1
 2000.07.04.b    1
 1801.12.18.R    1
 Name: Case Number.1, Length: 6113, dtype: int64,
 'Case Number.2': 2018.06.25      1
 1959.07.23.a    1
 1959.05.30      1
 1959.06.13      1
 1959.06.14.a    1
                ..
 2000.07.02.a    1
 2000.07.02.b    1
 2000.07.04.a    1
 2000.07.04.b    1
 1801.12.18.R    1
 Name: Case Number.2, Length: 6114, dtype: int64,
 'original order': 569.0     2
 6303.0    1
 2208.0    1
 2210.0    1
 2211.0    1
          ..
 4260.0    1
 4261.0    1
 4262.0    1
 4263.0    1
 172.0     1
 Name: original order, Length: 6113, dtype: int64,
 'Unnamed: 22': stopped here    1
 Name: Unnamed: 22, dtype: int64,
 'Unnamed: 23': Teramo             1
 change filename    1
 Name: Unnamed: 23, dtype: int64}

Cambiad el nombre de las columnas para que todas est√©n en min√∫sculas y reemplazad los espacios por _.

In [24]:
columnas_nuevas = {col :  col.lower().replace(' ', '_') for col in df.columns}

In [25]:
df.rename(columns = columnas_nuevas, inplace = True)
df.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

In [31]:
df_drop = df.drop(["unnamed:_23", "case_number.1", "unnamed:_22", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1)
df_drop.head(3)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

Establece la columna Case Number como √≠ndice del DataFrame.

In [32]:
df_drop.set_index(["case_number"], inplace= True)
df_drop.head(3)

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
case_number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

3. Guarda el csv que no tiene esas columnas para seguir us√°ndolo ma√±ana.

In [33]:
df_drop.to_csv("attacks_modificado.csv")